<ng4-loading-spinner> </ng4-loading-spinner>
<div id="content" class="app-content box-shadow-0" role="main">
  <div class="content-header white  box-shadow-1" id="content-header">
    <div class="navbar navbar-expand-lg">
      <!-- btn to toggle sidenav on small screen -->
      <a class="d-lg-none mx-2" data-toggle="modal" data-target="#aside">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
          <path d="M80 304h352v16H80zM80 248h352v16H80zM80 192h352v16H80z" />
        </svg>
      </a>
      <!-- Page title -->
      <div class="navbar-text nav-title flex" id="pageTitle">Contacts</div>
    </div>
  </div>
  <div class="content-main d-flex flex" id="content-main">
    <div class="d-flex flex" data-plugin="user">
      <div class="fade aside aside-sm b-r height-contacs" id="content-aside">
        <div class="modal-dialog d-flex flex-column w-md light lt" id="user-nav">
          <div class="navbar white no-radius box-shadow pos-rlt">
            <!-- <button class="white btn-border" id="arrow-new-contact" data-target="#upload-contacts" data-toggle="modal" data-toggle-class="fade-right"
                data-toggle-class-target="#animate">
                <span>
                  <div class="box-color text-color pos-rlt arrow-contact">
                    <span class="arrow top b-white pull-left"></span>
                    <div class="box-body ">Add new users for the platform</div>
                  </div>
                  <i class="fa fa-upload"></i>
                </span>
              </button> -->
            <button class="white btn-border" id="arrow-new-user" data-target="#new-contact" data-toggle="modal"
              data-toggle-class="fade-right" data-toggle-class-target="#animate">
              <!-- <button class="md-btn md-raised mb-2 blue" (click)="saveNewContact()">SAVE CONTACT</button> -->
              <span>
                <div class="box-color text-color pos-rlt arrow-user">
                  <span class="arrow top pull-right b-white"></span>
                  <div class="box-body">Add new contacts to the platform</div>
                </div>
                <i class="fa fa-plus-square"></i>
              </span>
              Add Contact
            </button>
          </div>
          <div class="scrollable hover">
            <div class="sidenav mt-2">
              <nav class="nav-border b-primary" data-nav>
                <ul class="nav">
                  <li>
                    <a class="item-class" [routerLink]="['/contacts']" queryParamsHandling="merge" [queryParams]="{ typecontact: 'all' }">
                      <span class="nav-badge">
                        <b class="badge badge-sm badge-pill primary">{{contactsPropertyManagers.length +
                          contactsTenants.length + contactsVendors.length}}</b>
                      </span>
                      <span class="nav-text">All Contacts</span>
                    </a>
                  </li>
                  <li>
                    <a class="item-class" [routerLink]="['/contacts']" queryParamsHandling="merge" [queryParams]="{ typecontact: 'managers' }">
                      <span class="nav-badge">
                        <b class="badge badge-sm badge-pill primary">{{contactsPropertyManagers.length}}</b>
                      </span>
                      <span class="nav-text">Property managers</span>
                    </a>
                  </li>
                  <li>
                    <a class="item-class" [routerLink]="['/contacts']" queryParamsHandling="merge" [queryParams]="{ typecontact: 'tenants' }">
                      <span class="nav-badge">
                        <b class="badge badge-sm badge-pill primary">{{contactsTenants.length}}</b>
                      </span>
                      <span class="nav-text">Tenants</span>
                    </a>
                  </li>
                  <li>
                    <a class="item-class" [routerLink]="['/contacts']" queryParamsHandling="merge" [queryParams]="{ typecontact: 'providers' }">
                      <span class="nav-badge">
                        <b class="badge badge-sm badge-pill primary">{{contactsVendors.length}}</b>
                      </span>
                      <span class="nav-text">Contacts</span>
                    </a>
                  </li>
                  <!--li>
                    <div class="item-class-config">
                      <span class="nav-text">
                        Configurations:
                      </span>
                      <span class="nav-text">
                        <label class="container-cb">Send vendor contact data in the notification
                          <input type="checkbox" />
                          <span class="checkmark"></span>
                        </label>
                      </span>
                      <span class="nav-text">
                        <button class="btn" (click)="updateConfig()">
                          Update
                        </button>
                        </span>
                    </div>
                  </li-->
                </ul>
              </nav>
            </div>
          </div>
          <!-- / -->
        </div>
      </div>
      <div class="d-flex flex" id="content-body">
        <div class="d-flex flex-column flex" id="user-list">
          <div class="navbar white no-radius box-shadow pos-rlt">
            <div class="input-group">
              <input type="text" class="form-control form-control-sm search" placeholder="Search" [(ngModel)]="filtercontacts"
                id="input-contact">
              <span class="input-group-btn">
                <button class="btn btn-default btn-sm no-shadow" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>
          <div class="d-flex flex scroll-y">
            <div class="d-flex flex-column flex white lt  scroll-y">
              <div class="scroll-y h-90vh">
                <div class="list animate fadeIn">
                  <div class="list-item " *ngFor="let item of currentContacts | filter:filtercontacts">
                    <span class="w-40 avatar circle {{item.color}}">
                      {{item.initials}}
                    </span>
                    <div class="list-body">
                      <a [routerLink]="['/contacts', item.id]" queryParamsHandling="merge">
                        <!--span class="item-title _500" data-target="#user" data-toggle="modal" data-toggle-class="fade-right" data-toggle-class-target="#animate"-->
                        <span class="item-title _500">
                          {{item.name}}
                        </span>
                      </a>
                      <a class="float-right" [routerLink]="['/messages', item.id]" queryParamsHandling="merge" *ngIf="item.mobile &&
                      (item.contact_type === 'user' || item.contact_type === 'provider')">
                        <i class="fa fa-comment"></i>
                      </a>
                      <div class="item-except text-sm text-muted h-1x">
                      </div>
                    </div>
                    <!--div>
                        <div class="item-action dropdown">
                          <a href="#" data-toggle="dropdown" class="text-muted">
                            <i class="fa fa-fw fa-ellipsis-v"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right text-color" role="menu">
                            <a class="dropdown-item">
                              <i class="fa fa-tag"></i> Send message
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">
                              <i class="fa fa-reply"></i> Archive
                            </a>
                          </div>
                        </div>
                      </div-->
                  </div>
                </div>
                <div class="no-result hide">
                  <div class="p-4 text-center">
                    No Results
                  </div>
                </div>
              </div>
              <div class="p-3 b-t mt-auto">
                <div class="d-flex align-items-center">
                  <div class="flex">
                    <div class="pagination pagination-xs">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="d-flex flex-column b-l" style="width: 50px">
                <div class="scrollable hover">
                  <div class="text-center text-sm py-3 d-flex flex-column" id="filter">
                    <a href="contacts#">A</a>
                    <a href="contacts#">B</a>
                    <a href="contacts#">C</a>
                    <a href="contacts#">D</a>
                    <a href="contacts#">E</a>
                    <a href="contacts#">F</a>
                    <a href="contacts#">G</a>
                    <a href="contacts#">H</a>
                    <a href="contacts#">I</a>
                    <a href="contacts#">J</a>
                    <a href="contacts#">K</a>
                    <a href="contacts#">L</a>
                    <a href="contacts#">M</a>
                    <a href="contacts#">N</a>
                    <a href="contacts#">O</a>
                    <a href="contacts#">P</a>
                    <a href="contacts#">Q</a>
                    <a href="contacts#">R</a>
                    <a href="contacts#">S</a>
                    <a href="contacts#">T</a>
                    <a href="contacts#">U</a>
                    <a href="contacts#">V</a>
                    <a href="contacts#">W</a>
                    <a href="contacts#">X</a>
                    <a href="contacts#">Y</a>
                    <a href="contacts#">Z</a>
                  </div>
                </div>
              </div> -->
          </div>
        </div>
      </div>
      <button id="openModalButton" [hidden]="true" data-target="#user" data-toggle="modal" data-toggle-class="fade-right"
        data-toggle-class-target="#animate">Open Modal</button>
      <div class="modal fade show" id="user" data-backdrop="true" data-backdrop="static" data-class="modal-open-aside">
        <div class="modal-right w-xl w-ssd white b-l">
          <div class="d-flex flex-column h-100">
            <div class="d-flex flex" id="profile">
              <div class="modal-dialog modal-right w-auto-sm white dk b-l">
                <div class="d-flex flex-column h-100 w-100 white b-r">
                  <div class="scroll-y" id="border">
                    <div class="row drawer-menu">
                      <button class="float-left btn btn-clean b-close noBg" data-dismiss="modal" id="cancelEdit"
                        (click)="cancelEditContact()">
                        <i class="fa fa-close"></i>
                      </button>
                      <div class="d-block stack-right">
                        <ul class="contact-drawer-options">
                          <!-- <li class="md-btn blue" (click)="setupContactForm(true)" *ngIf="currentContactType != 'property manager'" [disabled]="enableEditFields" >
                            <i class="fa fa-edit"></i>
                            Edit
                          </li>
                          <li class="md-btn red" (click)="deleteContact()" *ngIf="currentContactType != 'property manager'" [disabled]="!enableEditFields">
                            <i class="fa fa-trash"></i>
                            Delete
                          </li> -->
                          <li>
                            <button (click)="setupContactForm()" class="md-btn blue btn-reduced" [disabled]="enableEditFields"
                              *ngIf="currentContactType != 'property manager'">
                              <i class="fa fa-edit"></i>
                              Edit
                            </button>
                          </li>
                          <li>
                            <button (click)="confirmDelete()" class="md-btn red btn-reduced" [disabled]="enableEditFields"
                              *ngIf="currentContactType != 'property manager'">
                              <i class="fa fa-trash"></i>
                              Delete
                            </button>
                          </li>
                        </ul>
                        <!-- <button (click)="setupContactForm(true)" class="d-block md-btn md-flat mt-2 text-primary"
                          [disabled]="enableEditFields" *ngIf="currentContactType != 'property manager'">
                          <i class="fa fa-edit"></i>
                          Edit
                        </button>
                        <button (click)="setupContactForm(true)" class="d-block md-btn md-flat mt-2 text-warm"
                          [disabled]="enableEditFields" *ngIf="currentContactType != 'property manager'">
                          <i class="fa fa-edit"></i>
                          Delete
                        </button> -->
                      </div>
                    </div>
                    <form #editContactForm="ngForm" [ngSwitch]="currentContactType" id="user-edit" class="ml-4"
                      validate (ngSubmit)="onSubmitEditcontact(editContactForm)">
                      <!-- <div class="row">
                        <button (click)="openModalDelete()" class="d-block md-btn md-flat mt-2 text-primary">
                          <i class="fa fa-trash-o"></i>
                          Remove Request
                        </button>
                      </div> -->
                      <div *ngSwitchCase="'tenant'" class="row">
                        <div class="col-sm-12">
                          <div class="pt-0 pb-4 mt-3 d-flex flex-column align-items-center">
                            <span class="w-40 avatar circle tenant-color">
                              {{editResidentData.initials}}
                            </span>
                          </div>
                        </div>
                        <div class="col-sm-6 form-group">
                          <label for="firstName">First Name</label>
                          <input [(ngModel)]="editResidentData.firstName" #firstName="ngModel" id="firstName" name="firstName"
                            type="text" class="form-control capitalized" maxlength="100" pattern="^[a-zA-Z ]*$"
                            required (keyup)="updateInitials($event, 0)" (change)="editResidentData.firstName=capitalize(editResidentData.firstName);"
                            [disabled]="!enableEditFields">
                        </div>
                        <div class="col-sm-6 form-group">
                          <label for="lastName">Last Name</label>
                          <input [(ngModel)]="editResidentData.lastName" #lastName="ngModel" id="lastName" name="lastName"
                            type="text" class="form-control capitalized" maxlength="100" pattern="^[a-zA-Z ]*$"
                            required (keyup)='updateInitials($event, 1)' (change)="editResidentData.lastName=capitalize(editResidentData.lastName);"
                            [disabled]="!enableEditFields">
                        </div>
                        <div class="col-sm-12 form-group">
                          <label for="portfolio">Portfolio</label>
                          <input [(ngModel)]="editResidentData.portfolio" #portfolio="ngModel" id="portfolio" name="portfolio"
                            type="text" class="form-control" maxlength="500" [disabled]="!enableEditFields">
                        </div>
                        <!-- <div class="col-sm-6">
                              <label for="">Unit abbr name</label>
                              <input [(ngModel)]="editResidentData.unit_abbr_name" type="text" class="form-control" required>
                            </div> -->
                        <div class="col-sm-12 form-group">
                          <label for="service_threshold">Service threshold</label>
                          <input [(ngModel)]="editResidentData.service_threshold" #service_threshold="ngModel" id="service_threshold"
                            name="service_threshold" type="number" class="form-control" required maxlength="100"
                            pattern="^[0-9\.]*$" [disabled]="!enableEditFields">
                        </div>
                        <div class="col-sm-12 form-group">
                          <label for="address">Address</label>
                          <input [(ngModel)]="editResidentData.address" #address="ngModel" id="address" name="address"
                            type="text" class="form-control" required maxlength="500" [disabled]="!enableEditFields">
                        </div>
                        <!--
                        <div class="col-sm-12 form-group">
                          <label for="address2">Address 2</label>
                          <input [(ngModel)]="editResidentData.address2" #address2="ngModel" id="address2" name="address2"
                            type="text" class="form-control" maxlength="500" [disabled]="!enableEditFields">
                        </div>
                        -->
                        <div class="col-sm-6 form-group">
                          <label for="city">City</label>
                          <input [(ngModel)]="editResidentData.city" #city="ngModel" id="city" name="city" type="text"
                            class="form-control" required maxlength="100" [disabled]="!enableEditFields">
                        </div>
                        <div class="col-sm-3 form-group">
                            <label for="zip">State</label>
                            <input [(ngModel)]="editResidentData.st" #zip="ngModel" id="st" name="st" type="text"
                              class="form-control" required minlength="2" maxlength="2" [disabled]="!enableEditFields">
                          </div>
                        <div class="col-sm-3 form-group">
                          <label for="zip">ZIP</label>
                          <input [(ngModel)]="editResidentData.zip" #zip="ngModel" id="zip" name="zip" type="text"
                            class="form-control" required (keypress)="onlyNumberKey($event)" mimlength="3" pattern="^[0-9]*$"
                            [disabled]="!enableEditFields">
                        </div>
                        <!-- <div class="col-sm-6 form-group">
                          <label for="phone">Phone</label>
                          <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="editResidentData.phone"
                            #phone="ngModel" required (keypress)="onlyyNumberKey($event)" maxlength="11"minlength="10">
                        </div> -->
                        <div class="col-sm-12 form-group">
                          <label for="email">Email</label>
                          <input [(ngModel)]="editResidentData.email" #email="ngModel" id="email" name="email" type="email"
                            class="form-control" maxlength="100" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                            [disabled]="!enableEditFields">
                        </div>
                        <div class="col-sm-12 form-group">
                          <label for="phone">SMS Phone Number</label>
                          <input [(ngModel)]="editResidentData.phone" #phone="ngModel" id="phone" name="phone" type="text"
                            class="form-control" maxlength="25" minlength="10" required pattern="^[0-9 \(\)\-\+]*$"
                            asyncValidator [disabled]="!enableEditFields">
                          <!-- {{ json }}
                          {{ phone.control.errors | json }} -->
                        </div>
                        <div class="col-sm-12 form-group">
                          <label for="workPhone">Work Phone</label>
                          <input [(ngModel)]="editResidentData.workPhone" #workPhone="ngModel" id="workPhone" name="workPhone"
                            type="text" class="form-control" (keypress)="onlyNumberKey($event)" maxlength="10"
                            minlength="10" [disabled]="!enableEditFields">
                        </div>
                        <!-- <div class="col-sm-12 form-group">
                          <label for="sms">SMS number</label>
                          <input [(ngModel)]="editResidentData.sms" #sms="ngModel" id="sms" name="sms"
                             type="text" class="form-control" (keypress)="onlyNumberKey($event)" maxlength="10" minlength="10">
                        </div> -->
                        <div class="col-sm-6 form-group">
                          <label for="alexa">Alexa ID</label>
                          <input [(ngModel)]="editResidentData.alexa" #alexa="ngModel" id="alexa" name="alexa" type="text"
                            class="form-control" [disabled]="!enableEditFields">
                        </div>
                        <div class="col-sm-6 form-group">
                          <label for="ghome">Google Home ID</label>
                          <input [(ngModel)]="editResidentData.ghome" #ghome="ngModel" id="ghome" name="ghome" type="text"
                            class="form-control" [disabled]="!enableEditFields">
                        </div>
                        <div class="col-sm-12 form-group">
                          <label for="fb">FB ID</label>
                          <input [(ngModel)]="editResidentData.fb" #fb="ngModel" id="fb" name="fb" type="text" class="form-control"
                            [disabled]="!enableEditFields">
                        </div>
                      </div>
                      <div *ngSwitchCase="'vendor'" class="row">
                        <div class="col-sm-12">
                          <div class=" pb-0 p-4  mt-3 d-flex flex-column align-items-center">
                            <span class="w-40 avatar circle vendor-color">
                              {{editVendorData.initials}}
                            </span>
                          </div>
                        </div>
                        <div class="col-sm-12 form-group">
                          <label for="vendorName">Name / Company</label>
                          <input type="text" class="form-control capitalized" id="name" name="name" required
                            [(ngModel)]="editVendorData.name" (change)="editVendorData.name=capitalize(editVendorData.name);"
                            #name="ngModel" (keyup)="updateInitials($event, 0)" maxlength="100" required pattern="^[a-zA-Z ]*$"
                            [disabled]="!enableEditFields">
                        </div>
                        <!-- <div class="col-sm-6 form-group">
                          <label for="vendorLastName">Last Name</label>
                          <input type="text" class="form-control capitalized" id="vendorLastName" name="vendorLastName"
                            (change)="editVendorData.vendorLastName=capitalize(editVendorData.vendorLastName);"
                            [(ngModel)]="editVendorData.vendorLastName" #vendorLastName="ngModel" (keyup)="updateInitials($event, 1)"
                            maxlength="100" required pattern="^[a-zA-Z ]*$" [disabled]="!enableEditFields">
                        </div> -->
                        <!-- <div class="col-sm-12 form-group">
                          <label for="jobType">Company Name</label>
                          <input type="text" class="form-control capitalized" id="jobType" name="jobType" [(ngModel)]="editVendorData.jobType"
                            #jobType="ngModel" maxlength="100" required [disabled]="!enableEditFields">
                        </div> -->
                        <div class="col-sm-12 form-group">
                          <label for="services">Services</label>
                          <angular2-multiselect name="services" id="services" [data]="issuelist" [(ngModel)]="issuesSelectedItems"
                            [settings]="issuesettings" [disabled]="!enableEditFields" (onSelect)="onItemSelect($event)">
                          </angular2-multiselect>
                        </div>
                        <div class="col-sm-12 form-group">
                          <label for="Address">Address</label>
                          <input type="text" class="form-control" id="Address" name="Address" [(ngModel)]="editVendorData.address"
                            #address="ngModel" maxlength="500" [disabled]="!enableEditFields">
                        </div>
                        <div class="col-sm-12 form-group">
                          <label for="phone">Mobile</label>
                          <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="editVendorData.phone"
                            #phone="ngModel" pattern="^[0-9 \(\)\-\+]*$" maxlength="25" minlength="10" asyncValidator
                            [disabled]="!enableEditFields" [required]='!editVendorData.email'>
                        </div>
                        <!-- <div class="col-sm-6 form-group">
                          <label for="ext">Ext</label>
                          <input type="text" class="form-control" id="ext" name="ext" [(ngModel)]="editVendorData.ext"
                            (keypress)="onlyNumberKey($event)" #ext="ngModel" maxlength="5" [disabled]="!enableEditFields">
                        </div> -->
                        <div class="col-sm-12 form-group">
                          <label for="email">Email</label>
                          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="editVendorData.email"
                            #email="ngModel" [required]='!editVendorData.phone' pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                            maxlength="100" [disabled]="!enableEditFields">
                        </div>
                        <div class="col-sm-12 form-group">
                          <label for="comments">Comments</label>
                          <input type="text" class="form-control" id="comments" name="comments" [(ngModel)]="editVendorData.comments"
                            #comments="ngModel" maxlength="500" [disabled]="!enableEditFields">
                        </div>
                        <div class="col-sm-12 form-group">
                          <div class="item-class-config">
                            <span class="nav-text">
                              <label class="container-cb">Send vendor contact data in the notification
                                <input type="checkbox" (click)="setVendorDataState($event)"  
                                [(ngModel)]="options_contactVendor" name="cb-vendor-state" [disabled]="disabledSetContact" />
                                <span class="checkmark"></span>
                              </label>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div *ngSwitchCase="'property manager'" class="row">
                        <div class="col-sm-12">
                          <div class=" pb-0 p-4  mt-3 d-flex flex-column align-items-center">
                            <span class="w-40 avatar circle pms-color">
                              {{editPMData.initials}}
                            </span>
                          </div>
                        </div>
                        <div class="col-sm-6 form-group">
                          <label for="name">First Name</label>
                          <input type="text" class="form-control capitalized" id="name" name="name" required
                            [(ngModel)]="editPMData.name" (change)="editPMData.name=capitalize(editPMData.name);" #name="ngModel"
                            (keyup)="updateInitials($event, 0)" maxlength="100" required pattern="^[a-zA-Z ]*$"
                            [disabled]="!enableEditFields">
                        </div>
                        <div class="col-sm-6 form-group">
                          <label for="surname">Last Name</label>
                          <input type="text" class="form-control capitalized" id="surname" name="surname" (change)="editPMData.surname=capitalize(editPMData.surname);"
                            [(ngModel)]="editPMData.surname" #surname="ngModel" (keyup)="updateInitials($event, 1)"
                            maxlength="100" required pattern="^[a-zA-Z ]*$" [disabled]="!enableEditFields">
                        </div>
                        <div class="col-sm-6 form-group">
                          <label for="email">Email</label>
                          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="editPMData.email"
                            #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" maxlength="100"
                            [disabled]="!enableEditFields">
                        </div>
                        <div class="col-sm-6 form-group">
                          <label for="phone">Phone</label>
                          <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="editPMData.phone"
                            #phone="ngModel" required pattern="^[0-9 \(\)\-\+]*$" maxlength="25" minlength="10"
                            required asyncValidator [disabled]="!enableEditFields">
                        </div>
                        <div class="col-sm-12 form-group">
                          <label for="Address">Address</label>
                          <input type="text" class="form-control" id="Address" name="Address" [(ngModel)]="editPMData.address"
                            #address="ngModel" maxlength="500" [disabled]="!enableEditFields">
                        </div>
                      </div>
                      <div id="buttons" *ngIf="enableEditFields">
                        <button class="md-btn md-raised mb-2 blue" type="submit" [disabled]="editContactForm.form.invalid || !enableEditFields">
                          Update Contact
                        </button>
                        <button class="md-btn md-flat mb-2 text-primary" data-dismiss="modal" id="cancelEdit" (click)="cancelEditContact()">Cancel</button>
                        <!-- <button class="md-btn md-flat mb-2 text-primary" data-dismiss="modal" oncl>Cancel</button> -->
                      </div>
                    </form>
                    <!-- <button class="md-btn md-flat mb-2 text-primary" (click)="setNewTenantServices()">Cancel</button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade show" id="new-contact" data-backdrop="static" data-class="modal-open-aside">
        <div class="modal-dialog modal-right w-xl white b-l new-contact-slider">
          <div class="d-flex flex-column h-100">
            <div class="d-flex flex" id="profile">
              <div class="modal-dialog modal-right white dk b-l">
                <div class="d-flex flex-column h-100 w-100 white b-r ">
                  <div class="scroll-y h-100" id="border">
                    <button class="float-left btn btn-clean mt-3 ml-2 b-close noBg" data-dismiss="modal" (click)="cancelNewContact()">
                      <i class="fa fa-close"></i>
                    </button>
                    <div [ngSwitch]="newContactType" class="px-4 ml-4 text-centered">
                      <div *ngSwitchCase="'tenant'">
                        <div class="p-4 pb-0 d-flex flex-column align-items-center bp-0" [@fadeInOut] *ngIf="newTenantInitials.length > 0">
                          <span class="w-40 avatar circle tenant-color">
                            {{newTenantInitials.join('')}}
                          </span>
                        </div>
                      </div>
                      <div *ngSwitchCase="'vendor'">
                        <div class="p-4 pb-0  d-flex flex-column align-items-center bp-0" [@fadeInOut] *ngIf="newVendorInitials.length > 0">
                          <span class="w-40 avatar circle vendor-color">
                            {{newVendorInitials.join('')}}
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-1">
                      <div class="new-contact-title left">
                        <span>New Contact</span>
                      </div>
                      <div id="new-contact-select">
                        <div class=" input-sm single-select left">
                          <select class="custom-select" [(ngModel)]="newContactType" (change)="onChange($event.target.value)">
                            <option value="" disabled selected hidden>Add to group</option>
                            <option value="tenant">Tenant</option>
                            <option value="vendor">Vendor/Owner</option>
                            <!-- <option value="property_manager">Teammate</option> -->
                          </select>
                        </div>
                      </div>
                    </div>
                    <form #newResidentForm="ngForm" class="col-sm-12" (ngSubmit)="onSubmitNewContact(newResidentForm)"
                      validate>
                      <div [ngSwitch]="newContactType" class="new-contact-scroll">
                        <!-- {{diagnostic}} -->
                        <div *ngSwitchCase="'tenant'" class="row scroll-y">
                          <div class="col-sm-6 form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control capitalized" id="firstName" name="firstName"
                              #firstName="ngModel" [(ngModel)]="newResidentData.firstName" (keyup)="updateInitials($event, 0)"
                              (change)="newResidentData.firstName=capitalize(newResidentData.firstName);" maxlength="100"
                              required pattern="^[a-zA-Z ]*$">
                            <!-- <div *ngIf="formSubmited && (firstName.valid || name.pristine)" class="alert alert-danger">
                              Field Required
                            </div> -->
                          </div>
                          <div class="col-sm-6 form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control capitalized" id="lastName" name="lastName" #lastName="ngModel"
                              [(ngModel)]="newResidentData.lastName" (keyup)='updateInitials($event, 1)' (change)="newResidentData.lastName=capitalize(newResidentData.lastName);"
                              maxlength="100" required pattern="^[a-zA-Z ]*$">
                          </div>
                          <div class="col-sm-12 form-group">
                            <label for="portfolio">Portfolio</label>
                            <input type="text" class="form-control" id="portfolio" name="portfolio" [(ngModel)]="newResidentData.portfolio"
                              #portfolio="ngModel" maxlength="500">
                          </div>
                          <!-- <div class="col-sm-6">
                              <label for="">Unit abbr name</label>
                              <input type="text" class="form-control" [(ngModel)]="newResidentData.unit_abbr_name" required>
                            </div> -->
                          <div class="col-sm-12 form-group">
                            <label for="service_threshold">Service threshold</label>
                            <input type="number" class="form-control" id="service_threshold" name="service_threshold"
                              [(ngModel)]="newResidentData.service_threshold" #service_threshold="ngModel" required
                              maxlength="100" pattern="^[0-9\.]*$">
                          </div>
                          <div class="col-sm-12 form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" name="address" [(ngModel)]="newResidentData.address"
                              #address="ngModel" required maxlength="500">
                          </div>
                          <!--
                          <div class="col-sm-12 form-group">
                            <label for="address2">Address 2</label>
                            <input type="text" class="form-control" id="address2" name="address2" [(ngModel)]="newResidentData.address2"
                              #address2="ngModel" maxlength="500">
                          </div>
                          -->
                          <div class="col-sm-6 form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" name="city" [(ngModel)]="newResidentData.city"
                              #city="ngModel" required maxlength="100">
                          </div>
                          <div class="col-sm-3 form-group">
                              <label for="zip">State</label>
                              <input type="text" class="form-control" id="st" name="st" [(ngModel)]="newResidentData.st"
                                #zip="ngModel" required maxlength="2" mimlength="2">
                            </div>
                          <div class="col-sm-3 form-group">
                            <label for="zip">ZIP</label>
                            <input type="text" class="form-control" id="zip" name="zip" [(ngModel)]="newResidentData.zip"
                              #zip="ngModel" required (keypress)="onlyNumberKey($event)" maxlength="25" mimlength="3"
                              pattern="^[0-9]*$">
                          </div>
                          <!-- <div class="col-sm-6 form-group">
                          <label for="phone">Phone</label>
                          <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="newResidentData.phone"
                            #phone="ngModel" required (keypress)="onlyNumberKey($event)" maxlength="11"minlength="10">
                        </div> -->
                          <div class="col-sm-12 form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="newResidentData.email"
                              #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" maxlength="100">
                          </div>
                          <div class="col-sm-12 form-group">
                            <label for="phone">SMS Phone Number</label>
                            <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="newResidentData.phone"
                              #phone="ngModel" pattern="^[0-9 \(\)\-\+]*$" maxlength="25" minlength="10" required
                              asyncValidator>
                            <!-- {{ json }} {{ phone.control.errors | json }} -->
                          </div>
                          <div class="col-sm-12 form-group">
                            <label for="workPhone">Work Phone</label>
                            <input type="text" class="form-control" id="workPhone" name="workPhone" [(ngModel)]="newResidentData.workPhone"
                              #workPhone="ngModel" (keypress)="onlyNumberKey($event)" maxlength="10" minlength="10">
                          </div>
                          <!-- <div class="col-sm-12 form-group">
                          <label for="sms">SMS number</label>
                          <input type="text" class="form-control" id="sms" name="sms" [(ngModel)]="newResidentData.sms"
                            #sms="ngModel" (keypress)="onlyNumberKey($event)" maxlength="10" minlength="10">
                        </div> -->
                          <div class="col-sm-6 form-group">
                            <label for="alexa">Alexa ID</label>
                            <input type="text" class="form-control" id="alexa" name="alexa" [(ngModel)]="newResidentData.alexa"
                              #alexa="ngModel" disabled="disabled">
                          </div>
                          <div class="col-sm-6 form-group">
                            <label for="ghome">Google Home ID</label>
                            <input type="text" class="form-control" id="ghome" name="ghome" [(ngModel)]="newResidentData.ghome"
                              #ghome="ngModel" disabled="disabled">
                          </div>
                          <div class="col-sm-12 form-group">
                            <label for="fb">FB ID</label>
                            <input type="text" class="form-control" id="fb" name="fb" [(ngModel)]="newResidentData.fb"
                              #fb="ngModel" disabled="disabled">
                          </div>
                        </div>
                        <div *ngSwitchCase="'vendor'" class="row scroll-y">
                          <div class="col-sm-12 form-group">
                            <label for="vendorName">Name / Company</label>
                            <input type="text" class="form-control capitalized" id="vendorName" name="vendorName"
                              required [(ngModel)]="newVendorData.vendorName" (change)="newVendorData.vendorName=capitalize(newVendorData.vendorName);"
                              #vendorName="ngModel" (keyup)="updateInitials($event, 0)" maxlength="100" required
                              pattern="^[a-zA-Z ]*$">
                          </div>
                          <!--div class="col-sm-6 form-group">
                            <label for="vendorLastName">Last Name</label>
                            <input type="text" class="form-control capitalized" id="vendorLastName" name="vendorLastName"
                              (change)="newVendorData.vendorLastName=capitalize(newVendorData.vendorLastName);"
                              [(ngModel)]="newVendorData.vendorLastName" #vendorLastName="ngModel" (keyup)="updateInitials($event, 1)"
                              maxlength="100" required pattern="^[a-zA-Z ]*$">
                          </div-->
                          <!-- <div class="col-sm-12 form-group">
                            <label for="jobType">Company Name</label>
                            <input type="text" class="form-control capitalized" id="jobType" name="jobType" [(ngModel)]="newVendorData.jobType"
                              #jobType="ngModel" maxlength="100" required>
                          </div> -->
                          <div class="col-sm-12 form-group">
                            <label for="services">Services</label>
                            <angular2-multiselect name="services" id="services" [data]="issuelist" [(ngModel)]="issuesSelectedItems"
                              [settings]="issuesettings" [disabled]="!enableEditFields" (onSelect)="onItemSelect($event)">
                            </angular2-multiselect>
                          </div>
                          <div class="col-sm-12 form-group">
                            <label for="Address">Address</label>
                            <input type="text" class="form-control" id="Address" name="Address" [(ngModel)]="newVendorData.address"
                              #address="ngModel" maxlength="500">
                          </div>
                          <div class="col-sm-12 form-group">
                            <label for="phone">Mobile</label>
                            <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="newVendorData.phone"
                              #phone="ngModel" pattern="^[0-9 \(\)\-\+]*$" maxlength="25" minlength="10" asyncValidator
                              [required]='!newVendorData.email'>
                          </div>
                          <!-- <div class="col-sm-6 form-group">
                            <label for="ext">Ext</label>
                            <input type="text" class="form-control" id="ext" name="ext" [(ngModel)]="newVendorData.ext"
                              (keypress)="onlyNumberKey($event)" #ext="ngModel" maxlength="5">
                          </div> -->
                          <div class="col-sm-12 form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="newVendorData.email"
                              #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" maxlength="100"
                              [required]='!newVendorData.phone'>
                          </div>
                          <div class="col-sm-12 form-group">
                            <label for="comments">Comments</label>
                            <input type="text" class="form-control" id="comments" name="comments" [(ngModel)]="newVendorData.comments"
                              #comments="ngModel" maxlength="500">
                          </div>
                        </div>
                        <div *ngSwitchCase="'property_manager'" class="row scroll-y">
                          <div class="col-sm-6">
                            <label for="">First Name</label>
                            <input type="text" class="form-control" [(ngModel)]="newPMData.name">
                          </div>
                          <div class="col-sm-6">
                            <label for="">Last Name</label>
                            <input type="text" class="form-control" [(ngModel)]="newPMData.surname">
                          </div>
                          <div class="col-sm-12">
                            <label for="">Email</label>
                            <input type="email" class="form-control" [(ngModel)]="newPMData.email">
                          </div>
                          <div class="col-sm-6">
                            <label for="">Phone</label>
                            <input type="text" class="form-control" [(ngModel)]="newPMData.phone">
                          </div>
                          <div class="col-sm-12">
                            <label for="">Address</label>
                            <input type="text" class="form-control" [(ngModel)]="newPMData.address">
                          </div>
                        </div>
                        <div *ngSwitchDefault>
                          Please select a contact type
                        </div>
                      </div>
                      <div id="buttons">
                        <button class="md-btn md-raised mb-2 blue" type="submit" [disabled]="newResidentForm.form.invalid || newContactType.length == 0">
                          SAVE CONTACT
                        </button>
                        <button class="md-btn md-flat mb-2 text-primary" data-dismiss="modal" (click)="cancelNewContact()">CLOSE</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade show" id="upload-contacts" data-backdrop="true" data-class="modal-open-aside">
            <div class="modal-dialog modal-right w-xl white b-l new-upload-contacts">
              <div class="d-flex flex-column h-100">
                <div class="d-flex flex" id="profile">
                  <div class="modal-dialog modal-right w-auto-sm white dk b-l">
                    <div class="d-flex flex-column h-100 w-100 white b-r">
                      <div class="new-contact-title">
                        <h2>Add new contacts for the platform</h2>
                      </div>
                      <div class="row mt-5">
                        <div class="col-sm-12 mx-auto">
                          <div class="form-group">
                            <label class="h5" for="exampleFormControlSelect1">Select the type of contact</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>User</option>
                              <option>Property Manager</option>
                              <option>Provider</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-12  mx-auto input-sm">
                          <div class="mx-auto">
                            <dropzone (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <modal #modalmessage id="backdrop" onClose="cleanModal()">
            <modal-header [show-close]="true">
              <h4 class="modal-title">{{modalTitle}}</h4>
            </modal-header>
            <modal-body>
              {{modalBody}}
              <div [innerHTML]="addressComparisonHtml.join('')"></div>
              <span *ngIf="invalidAddress">Please provide a valid address</span>
            </modal-body>
            <modal-footer [ngSwitch]="modalPurpose">
              <div *ngSwitchCase="'addressValidation'">
                <button *ngIf="!invalidAddress" class="md-btn md-raised mb-2 blue" data-dismiss="modal" (click)="processSuggestion()">Use
                  suggested address</button>
                <button class="md-btn md-flat mb-2 text-primary" data-dismiss="modal" (click)="modal.close()">Edit
                  Address</button>
              </div>
              <div *ngSwitchCase="'editContact'">
                <button type="button" class="md-btn md-flat mb-2 text-primary" data-dismiss="modal" (click)="cancelEditContact()">Close</button>
              </div>
              <div *ngSwitchCase="'addContact'">
                <button type="button" class="md-btn md-flat mb-2 text-primary" data-dismiss="modal" (click)="refreshPage()">Close</button>
              </div>
              <div *ngSwitchCase="'deleteContact'">
                <button class="md-btn md-raised mb-2 blue" data-dismiss="modal" (click)="deleteContact()">Continue</button>
                <button class="md-btn md-flat mb-2 text-primary" data-dismiss="modal" (click)="modal.close()">Cancel</button>
              </div>
              <div *ngSwitchDefault>
                <button class="md-btn md-flat mb-2 text-primary" data-dismiss="modal" (click)="modal.close()">Close</button>
              </div>
            </modal-footer>
          </modal>
        </div>
      </div>
    </div>
  </div>
</div>