<div class="app" id="app">
    <app-navbar></app-navbar>
    <div id="content" class="app-content box-shadow-0" role="main">
        <div class="content-header white  box-shadow-1" id="content-header">
          <div class="navbar navbar-expand-lg">
            <a class="d-lg-none mx-2" data-toggle="modal" href="#aside">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                <path d="M80 304h352v16H80zM80 248h352v16H80zM80 192h352v16H80z" />
              </svg>
            </a>
            <div class="navbar-text nav-title flex" id="pageTitle">Welcome to Jack Dashboard!</div>
          </div>
        </div>
        <div class="content-main d-flex flex" id="content-main">
          <div class="padding">
                <div class="mb-0">
                    <div class="row m-0">
                        <div class="col-sm-3">
                        <div class="col box box-tickets">
                            <div class="box-header">
                            <h4 class="small">Active Work Orders</h4>
                            </div>
                            <div class="box-body pt-0 box-number">
                            <span class="d-table mx-auto">4</span>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-3">
                        <div class="col box box-tickets">
                            <div class="box-header">
                            <h4 class="small">Needs Approval</h4>
                            </div>
                            <div class="box-body pt-0 box-number">
                            <span class="d-table mx-auto">1</span>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-3">
                        <div class="col box box-tickets">
                            <div class="box-header">
                            <h4 class="small">Closed Work Orders</h4>
                            </div>
                            <div class="box-body pt-0 box-number">
                            <span class="d-table mx-auto">2</span>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-3">
                        <div class="col box box-tickets">
                            <div class="box-header">
                            <h4 class="small">Dispatched</h4>
                            </div>
                            <div class="box-body pt-0 box-number">
                            <span class="d-table mx-auto">7</span>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-3">
                        <div class="col box box-tickets">
                            <div class="box-header">
                            <h4 class="small">Active Tenants</h4>
                            </div>
                            <div class="box-body pt-0 box-number">
                            <span class="d-table mx-auto">109</span>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-3">
                        <div class="col box box-tickets">
                            <div class="box-header">
                            <h4 class="small">Active Vendors</h4>
                            </div>
                            <div class="box-body pt-0 box-number">
                            <span class="d-table mx-auto">20</span>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
