<div class="app" id="app">
  <ng4-loading-spinner> </ng4-loading-spinner>
  <app-navbar></app-navbar>
  <div id="content" class="app-content box-shadow-0" role="main">
    <div class="content-header white  box-shadow-1" id="content-header">
      <div class="navbar navbar-expand-lg">
        <a class="d-lg-none mx-2" data-toggle="modal" href="#aside">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
            <path d="M80 304h352v16H80zM80 248h352v16H80zM80 192h352v16H80z" />
          </svg>
        </a>
        <div class="navbar-text nav-title flex" id="pageTitle">Dashboard</div>
      </div>
    </div>
    <div class="content-main d-flex flex" id="content-main">
      <div class="padding">
        <!-- <div class="row">
          <div class="col mb-2">
            <div class="col">
              <div class="row">
                <select class="form-control input-c col-sm-2">
                  <option value="" disabled selected>Today</option>
                  <option>Yesterday</option>
                  <option>Last 7 Days</option>
                  <option>Last 30 Days</option>
                  <option>This Month</option>
                  <option>Last Month</option>
                </select>
                <select class="form-control input-c col-sm-2">
                  <option value="" disabled selected>All Request</option>
                  <option>Complete</option>
                  <option>In Progress</option>
                  <option>Dispatched</option>
                  <option>Needs Approval</option>
                  <option>Awaiting Reply</option>
                </select>
                <select class="form-control input-c col-sm-2">
                  <option value="" disabled selected>My Team</option>
                  <option>Jennifer</option>
                  <option>Emma</option>
                  <option>Oliva</option>
                  <option></option>
                </select>
                <div class="col no-padding">
                  <button class="btn btn-fw white ml-auto-1 btn-export">
                    <span>Export</span>
                    <i class="fa fa-download"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="box mb-0 height-table">
          <ngx-datatable class="material" [rows]="tickets" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="'auto'" [limit]="limitRows" [scrollbarH]="true">
            <ngx-datatable-column name="Name" [width]="90">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span *ngFor="let resident of row.residents">{{resident.firstName}} {{resident.lastName}}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Received" [width]="125">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span>{{row.creationDate | date:'medium':'-0500' }}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Address" [width]="125">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span *ngFor="let resident of row.residents">{{resident.building.address}}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Portfolio" [width]="150">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span *ngFor="let resident of row.residents">{{resident.portfolio}}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Service" [width]="100">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span *ngFor="let issue of row.relatedIssue">{{issue.issueToken}}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Issue" [width]="80">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span id="issue-popup" data-placement="bottom">
                  <span class="overflow-text">{{ row.issueData.repairDescription}}</span>
                  <span class="position-relative">
                    <div class="box-color text-color pos-rlt arrow-issue">
                      <span class="arrow b-white top"></span>
                      <div class="box-body">{{ row.issueData.repairDescription}}</div>
                    </div>
                  </span>
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Preferred Date/Time" [width]="135">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span>{{ row.scheduledFor | date:'medium':'-0500' }}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Vendor" [width]="100">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span *ngFor="let vendor of row.assignedVendors">{{vendor.vendorData.name}}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Cost" [width]="50">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span>${{ row.issueData.repairCost }}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" [width]="120">
              <ng-template ngx-datatable-cell-template let-row="row">
                <div [ngSwitch]="row.status">
                  <div *ngSwitchCase="'available'">
                    <button class="badge btn-clean blue" type="button">Created</button>
                  </div>
                  <div *ngSwitchCase="'checked'">
                    <button class="badge btn-clean yellow" type="button">Checked by vendor</button>
                  </div>
                  <div *ngSwitchCase="'assigned'">
                    <button class="badge btn-clean orange" type="button">Asigned to vendor</button>
                  </div>
                  <div *ngSwitchCase="'evaluating'">
                    <button class="badge btn-clean red" (click)="checkPendientTask($event, row)" type="button"
                      data-toggle="modal" data-target="#modal-status">Requires atention</button>
                  </div>
                  <div *ngSwitchCase="'approved'">
                    <button class="badge btn-clean brown" type="button">Approved</button>
                  </div>
                  <div *ngSwitchCase="'denied'">
                    <button class="badge btn-clean grey" type="button">Canceled</button>
                  </div>
                  <div *ngSwitchCase="'finished'">
                    <button class="badge btn-clean green" type="button">Completed</button>
                  </div>
                  <div *ngSwitchDefault>
                    <button class="badge btn-clean white" type="button">This status shouldn't exist</button>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="" [width]="50">
              <ng-template ngx-datatable-cell-template let-row="row">
                <div *ngFor="let resident of row.residents">
                  <a [routerLink]="['/messages', resident._id]" class="white btn-border" id="arrow-messages">
                    <div class="box-color text-color pos-rlt messages-slider-button">
                      <span class="arrow top pull-right b-white "></span>
                      <div class="box-body">Click to go to chat user</div>
                    </div>
                    <i class="fa fa-comment"></i>
                  </a>
                  <a [routerLink]="['/contacts', resident._id]" class="white btn-border " id="arrow-user">
                    <div class="box-color text-color pos-rlt user-slider-button">
                      <span class="arrow top pull-right b-white "></span>
                      <div class="box-body">Click to go to user info</div>
                    </div>
                    <i class="fa fa-user"></i>
                  </a>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
        <!-- <div class="box mb-0 height-table">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Received</th>
                <th>Address</th>
                <th>Portfolio</th>
                <th>Service</th>
                <th>Issue</th>
                <th>Preferred Date/Time</th>
                <th>Vendor</th>
                <th>Cost</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tickets">
                <td>
                  <span *ngFor="let resident of item.residents">{{resident.firstName}} {{resident.lastName}}</span>
                </td>
                <td>{{item.creationDate | date:'medium':'-0500' }}</td>
                <td>
                  <span *ngFor="let resident of item.residents">{{resident.building.address}}</span>
                </td>
                <td>
                  <span *ngFor="let resident of item.residents">{{resident.portfolio}}</span>
                </td>
                <td>
                  <span *ngFor="let issue of item.relatedIssue">{{issue.issueToken}}</span>
                </td>
                <td>
                  <span id="issue-popup" data-placement="bottom">
                    <span class="overflow-text">{{ item.issueData.repairDescription}}</span>
                    <span class="position-relative">
                      <div class="box-color text-color pos-rlt arrow-issue">
                        <span class="arrow b-white top"></span>
                        <div class="box-body">{{ item.issueData.repairDescription}}</div>
                      </div>
                    </span>
                  </span>
                </td>
                <td>{{ item.scheduledFor | date:'medium':'-0500' }}</td>
                <td>
                  <span *ngFor="let vendor of item.assignedVendors">{{vendor.vendorData.name}}</span>
                </td>
                <td>${{ item.issueData.repairCost }}</td>
                <td>
                  <div [ngSwitch]="item.status">
                    <div *ngSwitchCase="'available'">
                      <button class="badge btn-clean blue" type="button">Created</button>
                    </div>
                    <div *ngSwitchCase="'checked'">
                      <button class="badge btn-clean yellow" type="button">Checked by vendor</button>
                    </div>
                    <div *ngSwitchCase="'assigned'">
                      <button class="badge btn-clean orange" type="button">Asigned to vendor</button>
                    </div>
                    <div *ngSwitchCase="'evaluating'">
                      <button class="badge btn-clean red" (click)="checkPendientTask($event, item)" type="button" data-toggle="modal" data-target="#modal-status">Requires atention</button>
                    </div>
                    <div *ngSwitchCase="'approved'">
                      <button class="badge btn-clean brown" type="button">Approved</button>
                    </div>
                    <div *ngSwitchCase="'denied'">
                      <button class="badge btn-clean grey" type="button">Canceled</button>
                    </div>
                    <div *ngSwitchCase="'finished'">
                      <button class="badge btn-clean green" type="button">Completed</button>
                    </div>
                    <div *ngSwitchDefault>
                      <button class="badge btn-clean white" type="button">This status shouldn't exist</button>
                    </div>
                  </div>
                </td>
                <td *ngFor="let resident of item.residents">
                  <a [routerLink]="['/messages', resident._id]" class="white btn-border" id="arrow-messages">
                    <div class="box-color text-color pos-rlt messages-slider-button">
                      <span class="arrow top pull-right b-white "></span>
                      <div class="box-body">Click to go to chat user</div>
                    </div>
                    <i class="fa fa-comment"></i>
                  </a>
                  <a [routerLink]="['/contacts', resident._id]" class="white btn-border " id="arrow-user">
                    <div class="box-color text-color pos-rlt user-slider-button">
                      <span class="arrow top pull-right b-white "></span>
                      <div class="box-body">Click to go to user info</div>
                    </div>
                    <i class="fa fa-user"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div> -->
      </div>
    </div>
    <div class="modal fade show" id="user" data-backdrop="true" data-class="modal-open-aside">
      <div class="modal-dialog modal-right w-xl white b-l">
        <div class="d-flex flex-column h-100">
          <div class="d-flex flex" id="profile">
            <div class="modal-dialog modal-right w-auto-sm white dk b-l">
              <div class="d-flex flex-column h-100 w-100 white b-r">
                <div class="scroll-y" id="border">
                  <div class="p-4 mt-3 d-flex flex-column align-items-center">
                    <a href="#" class="avatar w-40">
                      <span class="w-40 avatar circle blue">
                        <i class="on b-white avatar-right"></i>
                        TN
                      </span>
                    </a>
                    <span class="text-md mt-3 block">Tiger Nixon</span>
                  </div>
                  <div class="p-2">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <span class="nav-link d-flex flex-row text-muted">
                          <span>Addres:</span> 123 Easy St Miami, FL 33101</span>
                      </li>
                      <li class="nav-item">
                        <span class="nav-link d-flex flex-row text-muted">
                          <span>Mobile:</span>123-456-789</span>
                      </li>
                      <li class="nav-item">
                        <span class="nav-link d-flex flex-row text-muted">
                          <span>Email:</span>Tiger@gmail.com</span>
                      </li>
                      <li class="nav-item">
                        <span class="nav-link d-flex flex-row text-muted">
                          <span>Property:</span> The Quantum</span>
                      </li>
                      <li class="nav-item">
                        <span class="nav-link d-flex flex-row text-muted">
                          <span>Owner:</span> Cornelius Vanderbilt</span>
                      </li>
                      <li class="nav-item">
                        <span class="nav-link d-flex flex-row text-muted">
                          <span>Service plan:</span> Home Maintenance</span>
                      </li>
                      <li class="nav-item">
                        <span class="nav-link d-flex flex-row text-muted">
                          <span>Preferred vendor:</span> ABC Plumbing</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade show" id="messages-slider" data-backdrop="true" data-class="modal-open-aside">
      <div class="modal-dialog modal-right w-xl white b-l">
        <div class="d-flex flex-column h-100">
          <div class="scrollable hover scrollable-slider">
            <div class="p-3">
              <div class="chat-list">
                <div class="chat-item" data-class>
                  <a href="#" class="avatar w-40">
                    <span class="w-40 avatar circle blue">
                      <i class="on b-white avatar-right"></i>
                      TN
                    </span>
                  </a>
                  <div class="chat-body">
                    <div class="chat-content rounded msg">
                      Hi Jack..
                    </div>
                    <div class="chat-content rounded msg">
                      I have a problem!
                    </div>
                    <div class="chat-date date">
                      2 mins ago
                    </div>
                  </div>
                </div>
                <div class="chat-item" data-class="alt">
                  <a href="#" class="avatar w-40">
                    <span class="w-40 avatar circle purple">
                      <i class="on b-white avatar-right"></i>
                      Jack
                    </span>
                  </a>
                  <div class="chat-body">
                    <div class="chat-content rounded msg">
                      Hi Tiger, what's the issue?
                    </div>
                    <div class="chat-date date">
                      1 min ago
                    </div>
                  </div>
                </div>
                <div class="chat-item" data-class>
                  <a href="#" class="avatar w-40">
                    <span class="w-40 avatar circle blue">
                      <i class="on b-white avatar-right"></i>
                      TN
                    </span>
                  </a>
                  <div class="chat-body">
                    <div class="chat-content rounded msg">
                      My kitchen sink is clogged again
                    </div>
                    <div class="chat-date date">
                      Rigth now
                    </div>
                  </div>
                </div>
                <div class="chat-item" data-class="alt">
                  <a href="#" class="avatar w-40">
                    <span class="w-40 avatar circle purple">
                      <i class="on b-white avatar-right"></i>
                      Jack
                    </span>
                  </a>
                  <div class="chat-body">
                    <div class="chat-content rounded msg">
                      Looks like a new request for
                      <span style="display: inline;">
                        <i>plumbing</i>
                      </span>. Do you want to
                      <span style="display: inline;">
                        <b>auto-dispatch</b>
                      </span> to vendors?
                    </div>
                    <div class="chat-content rounded msg">
                      <button class="btn-sm btn-rounded primary b-2x" data-dismiss="modal">Select vendors</button>&nbsp;
                      <button class="btn-sm btn-rounded primary b-2x" data-toggle="modal" data-target="#m-a-f">Vendors
                        pool</button>
                    </div>
                    <div class="chat-date date">
                      Rigth now (only visible for you)
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-status" tabindex="-1" role="dialog" aria-labelledby="modal-status" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" *ngIf="currentTicket">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Task fare over threshold </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
            The following task fare, set by the vendor, is greater than the task threshold. Details:
            <p>Repair cost: {{currentTicket.issueData.repairCost}}</p>
            <p>Repair description: {{currentTicket.issueData.repairDescription}}</p>
            <p>Related pictures:</p>
            <div class="row">
              <div class="col-4" *ngFor="let src of currentTicket.issueData.issueImages">
                <img src="{{src}}" class="rounded img-fluid" alt="">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="evaluateTask('approve')">Approve
              task cost</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="evaluateTask('deny')">Deny and
              cancel task</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
