    
    <div id="content" class="app-content box-shadow-0" role="main">
        <div class="content-header white  box-shadow-1" id="content-header">
          <div class="navbar navbar-expand-lg">
            <a class="d-lg-none mx-2" data-toggle="modal" href="#aside">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                <path d="M80 304h352v16H80zM80 248h352v16H80zM80 192h352v16H80z" />
              </svg>
            </a>
            <div class="navbar-text nav-title flex"  *ngIf="currentPropertyManager" id="pageTitle">{{currentPropertyManager.company}}</div>
          </div>
        </div>
        <div class="content-main d-flex flex" id="content-main">
          <div class="padding">
                <div class="mb-0">
                    <div class="row m-0">
                        <div class="col-sm-3">
                        <div class="col box box-tickets">
                            <div class="box-header">
                            <h4 class="small underlieAnimation">Requests</h4>
                            </div>
                            <div class="box-body pt-0 box-number">
                            <span class="d-table mx-auto" *ngIf="status == true">{{stats.active}}</span>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-3">
                        <div class="col box box-tickets">
                            <div class="box-header">
                            <h4 class="small underlieAnimation">Approval Needed</h4>
                            </div>
                            <div class="box-body pt-0 box-number">
                            <span class="d-table mx-auto" *ngIf="status == true">{{stats.approval}}</span>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-3">
                        <div class="col box box-tickets">
                            <div class="box-header">
                            <h4 class="small underlieAnimation">Completed Requests</h4>
                            </div>
                            <div class="box-body pt-0 box-number">
                            <span class="d-table mx-auto" *ngIf="status == true">{{stats.closed}}</span>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-3">
                        <div class="col box box-tickets">
                            <div class="box-header">
                            <h4 class="small underlieAnimation">Dispatched</h4>
                            </div>
                            <div class="box-body pt-0 box-number">
                            <span class="d-table mx-auto" *ngIf="status == true">{{stats.dispatch}}</span>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-3">
                        <div class="col box box-tickets">
                            <div class="box-header">
                            <h4 class="small underlieAnimation">Active Tenants</h4>
                            </div>
                            <div class="box-body pt-0 box-number">
                            <span class="d-table mx-auto" *ngIf="status == true">{{stats.tenants}}</span>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-3">
                        <div class="col box box-tickets">
                            <div class="box-header">
                            <h4 class="small underlieAnimation">Active Vendors</h4>
                            </div>
                            <div class="box-body pt-0 box-number">
                            <span class="d-table mx-auto" *ngIf="status == true">{{stats.vendors}}</span>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
