<ng4-loading-spinner> </ng4-loading-spinner>
<button id="invisibletriggerbutton" style="display: none;"></button>
<div id="content" class="app-content box-shadow-0" role="main">
  <div class="content-header white  box-shadow-1" id="content-header">
    <div class="navbar navbar-expand-lg">
      <!-- btn to toggle sidenav on small screen -->
      <a class="d-lg-none mx-2" data-toggle="modal" data-target="#aside">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
          <path d="M80 304h352v16H80zM80 248h352v16H80zM80 192h352v16H80z" />
        </svg>
      </a>
      <!-- Page title -->
      <div class="navbar-text nav-title flex" id="pageTitle">Messages</div>
    </div>
  </div>
  <div class="content-main d-flex flex" id="content-main">
    <div class="d-flex flex" data-plugin="chat">
      <div class="fade aside aside-sm" id="content-aside">
        <div class="d-flex flex-column w-xl b-r white modal-dialog" id="chat-nav">
          <!-- <div class="navbar box-shadow">
              <div class="input-group flex">
                <input type="text" class="form-control px-0 no-bg no-border no-shadow search" placeholder="Search" required="">
                <span class="input-group-btn">
                  <button class="btn no-bg no-border no-shadow" type="button">
                    <i class="fa fa-search text-muted"></i>
                  </button>
                </span>
              </div>
            </div> -->
          <div class="scrollable hover scrollbar">
            <div class="list inset" *ngFor="let user of users">
              <div data-id="item-14" [class]="isSelected(user._id, user.service)">
                <!--span class="w-40 avatar circle dark pms-color">
                    <i class="on b-white avatar-right"></i>
                    {{user.initials}}
                  </span-->
                <div class="list-body">
                  <a [routerLink]="['/messages', user._id]" [queryParams]="{ service: user.lastMessage.platform }"
                    [ngClass]="{'unread-message': user.unread }" queryParamsHandling="merge">
                    {{user.name}} [{{user.service}}]
                  </a>
                  <div class="item-except text-sm text-muted h-1x">
                    {{user.lastMessage.content}}
                  </div>
                  <div class="item-tag tag hide">
                  </div>
                </div>
              </div>
            </div>
            <div class="no-result hide">
              <div class="p-4 text-center">
                No Results
              </div>
            </div>
          </div>
          <div class="p-3 mt-auto">
            <span class="text-sm text-muted">Messages: {{messages.length}}</span>
          </div>
        </div>
      </div>
      <div class="d-flex flex" id="content-body">
        <div class="d-flex flex-column flex" id="chat-list">
          <div class="navbar flex-nowrap white lt box-shadow">
            <a data-toggle="modal" data-target="#content-aside" data-modal class="mr-1 d-md-none">
              <span class="btn btn-sm btn-icon primary">
                <i class="fa fa-th"></i>
              </span>
            </a>
            <span class="text-md text-ellipsis flex" *ngIf="userId && user">
              Messages from {{user.firstName}}{{user.name}}
            </span>
            <span class="text-md text-ellipsis flex" *ngIf="!userId">
              No user selected
            </span>
            <!-- <ul class="nav nav-xs flex-row no-border">
                <li class="nav-item">
                  <a class="nav-link" data-toggle="modal" id="button-add-a" data-target="#assing-teammate">
                    <span class="btn btn-sm btn-icon btn-rounded white ">
                      <div class="box-color text-color pos-rlt add-agent">
                        <span class="arrow b-white top pull-right"></span>
                        <div class="box-body">Assign to teammate</div>
                      </div>
                      <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                    </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="modal" data-target="#archive-conversation-modal" data-placement="bottom" id="button-see-h"
                    title="See History">
                    <span class="btn btn-sm btn-icon btn-rounded white">
                      <div class="box-color pos-rlt see-history">
                        <span class="arrow b-white top pull-right"></span>
                        <div class="box-body">Archive message</div>
                      </div>
                      <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                    </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="modal" data-target="#delete-conversation" id="archive-conversation" data-placement="bottom"
                    title="Archive Conversation">
                    <span class="btn btn-sm btn-icon btn-rounded white">
                      <div class="box-color text-color pos-rlt arrow-archive-conversation">
                        <span class="arrow b-white top pull-right"></span>
                        <div class="box-body">Delete message</div>
                      </div>
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </span>
                  </a>

                </li>
              </ul> -->
          </div>
          <div class="d-flex flex-column flex chat-scroll hover scrollable scrollbar" #chatScroll *ngIf="userId">
            <div class="p-3">
              <div class="chat-list">
                <div class="chat-item" *ngIf="messages.length >= 50">
                  <a>
                    <span class="center">
                      Load previous messages...
                    </span>
                  </a>
                </div>
                <div *ngFor="let item of messages">
                  <div class="chat-item" data-class="alt" *ngIf="item.direction === 'out'">
                    <a class="avatar w-40">
                      <span class="w-40 avatar circle jack-color" [class.pms-color]="item.initials && item.initials !== 'J'">
                        <i class="on b-white avatar-right"></i>
                        {{item.initials || 'J'}}
                      </span>
                    </a>
                    <div *ngIf="item.content" class="chat-body">
                      <div class="chat-content rounded msg">
                        {{item.content}}
                      </div>
                      <div class="chat-date date">
                        {{item.timestamp | relativeDate}}
                      </div>
                    </div>
                  </div>
                  <div class="chat-item" *ngIf="item.direction === 'in'">
                    <a class="avatar w-40">
                      <span class="w-40 avatar circle tenant-color">
                        <i class="on b-white avatar-right"></i>
                        {{userInitials}}
                      </span>
                    </a>
                    <div *ngIf="item.content" class="chat-body">
                      <div class="chat-content rounded msg">
                        {{item.content}}
                      </div>
                      <div class="chat-date date">
                        {{item.timestamp | relativeDate}}
                      </div>
                    </div>
                    <div *ngIf="item.meta.attachments && item.meta.attachments.length > 0" class="chat-body">
                      <div class="chat-content rounded msg" *ngFor="let attachment of item.meta.attachments">
                        <img class="preview-image-chat" [src]="attachment.payload.url" />
                      </div>
                      <div class="chat-date date">
                        {{item.timestamp | relativeDate}}
                      </div>
                    </div>
                  </div>
                  <div class="chat-item" *ngIf="item.typeMessage === 'confirmedBookService'">
                    <div class="col-sm-12 mx-auto col-md-9 col-xl-6" id="confirmedBookService">
                      <div class="box mb-1">
                        <div class="item">
                          <div class="item-bg light rounded-top">
                            <div class="w-100">
                              <img *ngIf="item.address" class="MapContainer" src="https://maps.googleapis.com/maps/api/staticmap?center={{this.newAddress}}&zoom=13&size=600x350&maptype=roadmap&key=AIzaSyALzEI922MxFSWMGPI4Kf5rGqk8C4jAqKI&output=embed"
                                alt="">
                            </div>
                          </div>
                          <div class="py-5 px-3">
                            <img src="../../../assets/images/jack_icon.svg" alt="." class="pos-rlt circle w-56" style="margin-bottom: -7rem">
                          </div>
                        </div>
                        <div class="p-3">
                          <div class="text-md mt-3 d-block">
                            <h6>New {{item.parsedInput.contentIssue}} Request</h6>
                          </div>
                          <p #textContent id="{{item._id}}">{{item.parsedInput.problem}}</p>
                             <div class="read-more-link">
                               <a readMore [readMore-length]="144" [readMore-element]="textContent">
                                 <span class="less text-blue">View Less <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                 <span class="more text-blue">View More <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                               </a>
                             </div>
                          <div class="text-xs">
                            <p><strong>Date Requested:</strong> {{item.parsedInput.dateIssue}}</p>
                          </div>
                          <p>
                            <button  *ngIf="!item.dispatch || (item.dispatch.status == false)" (click)="dispatch(item._id, item.parsedInput)"  class="btn text-white jack-btn">Dispatch</button>
                            <button *ngIf="item.dispatch && (item.dispatch.status == true)" disabled class="btn text-white jack-btn">Dispatched</button>
                          </p>
                          <p *ngIf="item.dispatch && (item.dispatch.status == true)" class="text-op">Dispatched by: {{item.dispatch.pmName}} on {{item.dispatch.dt | date:'medium'}}</p>
                        </div>
                      </div>
                      <p class="mb-0 text-op text-center"><small><i class="fa fa-eye mr-2"></i>Only visible to you</small></p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="p-3 white lt b-t mt-auto" id="chat-form">
            <div class="input-group">
              <input type="text" id="messageBox" class="form-control" placeholder="Message" #chatInput (keyup.enter)="sendMessage(chatInput);"
                [disabled]="!humanTakeover">
              <span class="input-group-btn">
                <button class="btn white b-a no-shadow" type="button" id="newBtn" (click)="sendMessage(chatInput);">
                  <i class="fa fa-send text-success"></i>
                </button>
              </span>
            </div>
            <div class="pull-right" *ngIf="userId">
              <label class="ui-switch primary mt-1 mr-2">
                <input type="checkbox" [(ngModel)]="humanTakeover" (change)="setHumanTakeover()">
                <i></i>
              </label> Human takeover</div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column flex white aside-sm" id="profile-messages" *ngIf="userId && user">
        <div class="row h-100" [ngSwitch]="userType">
          <div id="border" class="col" *ngSwitchCase="'tenant'">
            <div class="p-4 mt-3 d-flex flex-column align-items-center">
              <a class="avatar w-40">
                <span class="w-40 avatar circle tenant-color">
                  {{userInitials}}
                </span>
              </a>
              <span class="text-md mt-3 block">{{user.first_name}} {{user.last_name}}</span>
            </div>
            <div class="p-2 info-user">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <span class="nav-link d-flex flex-row text-muted">
                    <span>Addres:</span> {{user.originalAddress}}
                  </span>
                </li>
                <li class="nav-item">
                  <span class="nav-link d-flex flex-row text-muted">
                    <span>Mobile:</span>{{user.contact.phone}}</span>
                </li>
                <li class="nav-item">
                  <span class="nav-link d-flex flex-row text-muted">
                    <span>Email:</span>{{user.contact.email}}</span>
                </li>
                <li class="nav-item">
                  <span class="nav-link d-flex flex-row text-muted">
                    <span>Portfolio:</span>{{user.portfolio}}</span>
                </li>
              </ul>
            </div>
          </div>
          <div id="border" class="col" *ngSwitchCase="'vendor'">
            <div class="p-4 mt-3 d-flex flex-column align-items-center">
              <a class="avatar w-40">
                <span class="w-40 avatar circle vendor-color">
                  {{userInitials}}
                </span>
              </a>
              <span class="text-md mt-3 block">{{user.name}}</span>
            </div>
            <div class="p-2 info-user">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <span class="nav-link d-flex flex-row text-muted">
                    <span>Addres:</span> {{user.address}}
                  </span>
                </li>
                <li class="nav-item">
                  <span class="nav-link d-flex flex-row text-muted">
                    <span>Mobile:</span>{{user.phone}}</span>
                </li>
                <li class="nav-item">
                  <span class="nav-link d-flex flex-row text-muted">
                    <span>Email:</span>{{user.email}}</span>
                </li>
                <li class="nav-item">
                  <span class="nav-link d-flex flex-row text-muted">
                    <span>Job Type:</span>{{user.jobType}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="delete-conversation" class="modal fade show" data-backdrop="true">
    <div class="modal-dialog" id="modal-dialog-slider">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Conversation</h5>
        </div>
        <div class="modal-body text-center p-lg">
          <p>Are you sure to execute this action?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
          <button type="button" class="btn danger p-x-md" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
  <div id="archive-conversation-modal" class="modal fade show" data-backdrop="true">
    <div class="modal-dialog" id="modal-dialog-slider">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Archive Conversation</h5>
        </div>
        <div class="modal-body text-center p-lg">
          <p>Are you sure to execute this action?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
          <button type="button" class="btn danger p-x-md" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade show" id="assing-teammate" data-backdrop="true" data-class="modal-open-aside">
    <div class="modal-dialog modal-right w-xl white b-l modal-dialog-dispatch">
      <div class="d-flex flex-column h-100">
        <div class="d-flex flex" id="profile">
          <div class="modal-dialog modal-right w-auto-sm white dk b-l">
            <div class="d-flex flex-column h-100 w-100 white b-r">
              <div id="title-auto-dispatch">
                <span>Assing to teammate</span>
              </div>
              <div class="row">
                <div class="col-2 mt-5 ml-4">
                  <span>
                    <Strong>To:</Strong>
                  </span>
                </div>
                <div class="col-8 mt-5">
                  <angular2-multiselect [data]="teammatelist" [(ngModel)]="teammateselectedItems" [settings]="teammatesettings">
                  </angular2-multiselect>
                </div>
              </div>
              <div id="buttons-2" class="text-center">
                <button class="btn btn-outline btn-rounded text-success btn-cancel" data-dismiss="modal">Cancel</button>
                <button class="btn btn-rounded b-success success btn-save" data-dismiss="modal">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>