<ng4-loading-spinner> </ng4-loading-spinner>
<div id="content" class="app-content box-shadow-0" role="main">
  <div class="content-header white  box-shadow-1" id="content-header">
    <div class="navbar navbar-expand-lg">
      <a class="d-lg-none mx-2" data-toggle="modal" href="#aside">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
          <path d="M80 304h352v16H80zM80 248h352v16H80zM80 192h352v16H80z" />
        </svg>
      </a>
      <div class="navbar-text nav-title flex" id="pageTitle">Service Requests</div>
    </div>
  </div>
  <div class="content-main d-flex flex" id="content-main">
    <div class="padding">
      <button id="editRow" class="invisible position-absolute" data-dismiss="modal" data-toggle="modal" data-target="#modal-edit">
      </button>
      <div class="boxsearch">
        <div class="search-container">
          <span class="icon"><i class="fa fa-search"></i></span>
          <input type="text" id="search" placeholder="Search by issue description..." (keyup)='updateFilter($event)' />
        </div>
      </div>
      <div class="box mb-0 height-table">
        <ngx-datatable #myTable class="material" [rows]="tickets" [columnMode]="'force'" [headerHeight]="50"
          [footerHeight]="50" [rowHeight]="'auto'" [limit]="limitRows" [scrollbarH]="true" [selected]="selected"
          [selectionType]="'single'" (select)='onSelect($event)'>
          <ngx-datatable-column name="Name" [sortable]="false" [width]="90" prop="firstName">
            <ng-template ngx-datatable-cell-template let-row="row">
              <span *ngFor="let resident of row.residents">{{resident.firstName}} {{resident.lastName}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Address" [width]="115" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <span *ngFor="let resident of row.residents">{{resident.building.address}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Service" [width]="110" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <span *ngFor="let issue of row.relatedIssue">{{issue.issueToken}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Issue" [width]="110" [sortable]="false" prop="ticketDescription">
            <ng-template ngx-datatable-cell-template let-row="row">
              <span id="issue-popup" data-placement="bottom">
                <span class="overflow-text">{{ row.ticketDescription }}</span>
                <span class="position-relative">
                  <div class="box-color text-color pos-rlt arrow-issue">
                    <span class="arrow b-white top"></span>
                    <div class="box-body">{{ row.ticketDescription }}</div>
                  </div>
                </span>
              </span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Vendor" [width]="110" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <span *ngFor="let vendor of row.assignedVendors">{{vendor.vendorData.name}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Cost" [width]="50" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <span>${{ row.issueData.repairCost }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Description" [width]="100" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <span id="issue-popup" data-placement="bottom">
                <span class="overflow-text">{{ row.issueData.repairDescription }}</span>
                <span class="position-relative">
                  <div class="box-color text-color pos-rlt arrow-issue">
                    <span class="arrow b-white top"></span>
                    <div class="box-body">{{ row.issueData.repairDescription }}</div>
                  </div>
                </span>
              </span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Status" [width]="120">
            <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()">
                {{column.name}}
              </span>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-row="row">
              <div [ngSwitch]="row.status">
                <div *ngSwitchCase="'available'">
                  <button class="badge btn-clean blue" type="button">Dispatched</button>
                  <!--a class="badge btn-outline-red">
                      <i class="fa fa-times"></i> Cancel
                    </a-->
                </div>
                <div *ngSwitchCase="'checked'">
                  <button class="badge btn-clean yellow" type="button">Assigned to Vendor</button>
                  <!--a class="badge btn-outline-red">
                      <i class="fa fa-times"></i> Cancel
                    </a-->
                </div>
                <div *ngSwitchCase="'assigned'">
                  <button class="badge btn-clean orange" type="button">Assigned to vendor</button>
                  <!--a class="badge btn-outline-red">
                      <i class="fa fa-times"></i> Cancel
                    </a-->
                </div>
                <div *ngSwitchCase="'evaluating'">
                  <button class="badge btn-clean red">Requires atention</button>
                  <small (click)="checkPendientTask($event, row)" data-toggle="modal" data-target="#modal-status" class="btn-clean text-primary d-flex text-center">
                    View Details</small>
                  <!--a class="badge btn-outline-red">
                      <i class="fa fa-times"></i> Cancel
                    </a-->
                </div>
                <div *ngSwitchCase="'approved'">
                  <button class="badge btn-clean brown" type="button">Approved</button>
                  <!--a class="badge btn-outline-red">
                      <i class="fa fa-times"></i> Cancel
                    </a-->
                </div>
                <div *ngSwitchCase="'canceled'">
                  <button class="badge btn-clean red" type="button">Canceled</button>
                </div>
                <div *ngSwitchCase="'finished'">
                  <button class="badge btn-clean green" type="button">Completed</button>
                </div>
                <div *ngSwitchDefault>
                  <button class="badge btn-clean white" type="button">This status shouldn't exist</button>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="" [width]="50">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div *ngFor="let resident of row.residents">
                <a [routerLink]="['/messages', resident._id]" queryParamsHandling="merge" class="white btn-border" id="arrow-messages">
                  <div class="box-color text-color pos-rlt messages-slider-button">
                    <span class="arrow top pull-right b-white "></span>
                    <div class="box-body">Click to go to chat user</div>
                  </div>
                  <i class="fa fa-comment"></i>
                </a>
                <a [routerLink]="['/contacts', resident._id]" queryParamsHandling="merge" class="white btn-border " id="arrow-user">
                  <div class="box-color text-color pos-rlt user-slider-button">
                    <span class="arrow top pull-right b-white "></span>
                    <div class="box-body">Click to go to user info</div>
                  </div>
                  <i class="fa fa-user"></i>
                </a>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
              let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
              <div class="page-count">
                <span *ngIf="selectedMessage">
                  {{selectedCount.toLocaleString()}} {{selectedMessage}} /
                </span>
                {{rowCount.toLocaleString()}} {{totalMessage}} Total
              </div>
              <div class="form-group float-left mb-0">
                <select class="form-control" id="limit" (change)="onChange($event.target.value)">
                  <option value="8">8</option>
                  <option value="16">16</option>
                  <option value="24">24</option>
                  <option value="48">48</option>
                  <option value="1000000">All</option>
                </select>
              </div>
              <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
                [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
                [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)" (change)="myTable.onFooterPage($event)">
              </datatable-pager>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>
      </div>
    </div>
  </div>
  <div class="modal fade show" id="user" data-backdrop="true" data-class="modal-open-aside">
    <div class="modal-dialog modal-right w-xl white b-l">
      <div class="d-flex flex-column h-100">
        <div class="d-flex flex" id="profile">
          <div class="modal-dialog modal-right w-auto-sm white dk b-l">
            <div class="d-flex flex-column h-100 w-100 white b-r">
              <div class="scroll-y" id="border">
                <div class="p-4 mt-3 d-flex flex-column align-items-center">
                  <a href="#" class="avatar w-40">
                    <span class="w-40 avatar circle pms-color">
                      <i class="on b-white avatar-right"></i>
                      TN
                    </span>
                  </a>
                  <span class="text-md mt-3 block">Tiger Nixon</span>
                </div>
                <div class="p-2">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <span class="nav-link d-flex flex-row text-muted">
                        <span>Addres:</span> 123 Easy St Miami, FL 33101</span>
                    </li>
                    <li class="nav-item">
                      <span class="nav-link d-flex flex-row text-muted">
                        <span>Mobile:</span>123-456-789</span>
                    </li>
                    <li class="nav-item">
                      <span class="nav-link d-flex flex-row text-muted">
                        <span>Email:</span>Tiger@gmail.com</span>
                    </li>
                    <li class="nav-item">
                      <span class="nav-link d-flex flex-row text-muted">
                        <span>Property:</span> The Quantum</span>
                    </li>
                    <li class="nav-item">
                      <span class="nav-link d-flex flex-row text-muted">
                        <span>Owner:</span> Cornelius Vanderbilt</span>
                    </li>
                    <li class="nav-item">
                      <span class="nav-link d-flex flex-row text-muted">
                        <span>Service plan:</span> Home Maintenance</span>
                    </li>
                    <li class="nav-item">
                      <span class="nav-link d-flex flex-row text-muted">
                        <span>Preferred vendor:</span> ABC Plumbing</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade show" id="modal-edit" data-backdrop="false" data-class="modal-open-aside">
    <div class="modal-dialog modal-right w-xl white b-l">
      <div class="d-flex flex-column h-100">
        <div class="scrollable scrollable-slider">
          <button class="float-left btn btn-clean mt-3 ml-2 b-close" data-dismiss="modal" id="cancelEdit" (click)="cancelEdit()">
            <i class="fa fa-close"></i>
          </button>
          <button (click)="openModalDelete()" class="float-right md-btn md-flat mt-2 mr-2 text-danger"><i class="fa fa-trash-o"></i>
            Remove Request</button>
          <div class="p-5 h-100" *ngIf="editStatus == true">
            <h5 class="text-center">
              <strong>
                {{editDataRequest.title}}
              </strong>
            </h5>
            <div class="row">
              <div class="col-sm-12">
                <div>
                  <small>
                    Received on {{editDataRequest.receivedOn | date:'medium'}}
                  </small>
                </div>
                <div class="box row mx-0">
                  <div class="box-body col-sm-7">
                    <div class="w-100 h-100">
                      <p>
                        <strong>
                          <span>{{editDataRequest.tenantName}} </span>
                        </strong>
                      </p>
                      <p>
                        <span>{{editDataRequest.tenantContact}}</span>
                      </p>
                      <p>
                        <span class="d-bloc">{{editDataRequest.tenantAddress.address}},
                          {{editDataRequest.tenantAddress.address2}}</span>
                        <span class="d-bloc">{{editDataRequest.tenantAddress.city}},
                          {{editDataRequest.tenantAddress.zip}}</span>
                      </p>
                      <p>
                        <strong>Portfolio:</strong> <span>{{editDataRequest.portfolio}}</span>
                      </p>
                      <p>
                        <strong>Issue:</strong> <span>{{editDataRequest.issue.issueToken}}</span>
                      </p>
                      <p>
                        <em #textContent class="content-issue" id="{{editDataRequest.tenantName}}">{{editDataRequest.taskDescription}}</em>
                        <br>
                        <a readMore [readMore-length]="144" [readMore-element]="textContent">
                          <span class="less text-blue">View Less <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                          <span class="more text-blue">View More <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                        </a>
                      </p>
                      <p>
                        <strong>Preferred date for service visit:</strong>
                      </p>
                      <p>
                        <span>{{editDataRequest.preferredDate | date}}</span>
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-5 px-0" *ngIf="newAddress?.length > 1">
                    <img class="w-100 h-100" src="https://maps.googleapis.com/maps/api/staticmap?center={{this.newAddress}}&zoom=15&markers=color:red%7Clabel:C%7C{{editDataRequest.location.lng}},{{editDataRequest.location.lat}}&size=300x450&maptype=roadmap&key=AIzaSyALzEI922MxFSWMGPI4Kf5rGqk8C4jAqKI&output=embed">
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="">
                  <small class="text-muted">
                    Dispatched by {{editDataRequest.dispatchedBy.managerName}} on
                    {{editDataRequest.dispatchedBy.dispatchedOn | date:'medium'}}</small>
                </div>
                <div class="box">
                  <div class="box-body w-100">
                    <div class="row">
                      <div class="col-sm-12" *ngIf="editDataRequest.providersDispatched">
                        <span><strong>Providers Dispatched:</strong></span>
                      </div>
                      <div class="col-sm-12 my-2" *ngIf="editDataRequest.providersDispatched">
                        <div *ngFor="let item of editDataRequest.providersDispatched">
                          <div class="d-flex row mx-0">
                            <div class="col-sm d-flex">
                              <!--button class="btn-clean b-close" (click)="deleteVendor(item)">
                                <i class=" fa text-danger fa-15x fa-minus-circle"></i>
                              </button-->
                              <span class="ml-3" *ngIf="item.name">{{item.name}} <small>({{item.contact}})</small></span>
                              <span class="ml-3" *ngIf="item.itemName">{{item.itemName}}</span>
                            </div>
                            <div class="col-sm d-flex">
                              <span class="mr-3 ml-auto text-muted" *ngIf="item.requestAccepted == false && item.requestRejected == false">REQUEST
                                SENT</span>
                              <span class="mr-3 ml-auto text-muted" *ngIf="item.itemName">REQUEST SENT</span>
                              <span class="mr-3 ml-auto text-danger" *ngIf="item.requestRejected == true">DECLINED JOB</span>
                              <span class="mr-3 ml-auto text-success" *ngIf="item.requestAccepted == true">ACCEPTED JOB</span>
                              <a *ngIf="item.contactType == 'sms'" class="btn-clean b-close  ml-auto" [routerLink]="['/messages', item.id]">
                                <i class="fa fa-15x fa-comments-o"></i>
                              </a>
                              <a *ngIf="item.contactType == 'email'" class="btn-clean b-close  ml-auto" [href]="'mailto:'+item.contact">
                                <i class="fa fa-15x fa-envelope-o"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 my-2" *ngIf="vendorSelectedItems">
                        <div *ngFor="let item of vendorSelectedItems">
                          <div class="d-flex row mx-0">
                            <div class="col-sm d-flex">
                              <button class="btn-clean b-close" (click)="deleteNewVendor(item.id)">
                                <i class=" fa text-danger fa-15x fa-minus-circle"></i>
                              </button>
                              <span class="ml-3" *ngIf="item.name">{{item.name}} <small>({{item.contact}})</small></span>
                              <span class="ml-3" *ngIf="item.itemName">{{item.itemName}}</span>
                            </div>
                            <div class="col-sm d-flex">
                              <span class="mr-3 ml-auto text-muted" *ngIf="item.itemName">REQUEST SENT</span>
                              <a class="btn-clean b-close  ml-auto" [routerLink]="['/messages', item.id]">
                                <i class="fa  fa-15x fa-comments-o"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <small>Job Link: <a target="_blank" href="{{bitlyURL}}"> <u class="text-primary">{{bitlyURL}}</u></a></small><button
                          ngxClipboard class="btn btn-link" [cbContent]="bitlyURL">Copy</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="box">
                  <div class="box-body w-100">
                    <span><strong>Notes:</strong></span>
                    <div class="row">
                      <div class="col-sm-12">
                        <div *ngIf="editDataRequest.notes?.length > 0">
                          <ul class="list inset">
                            <li class="list-item" *ngFor="let item of editDataRequest.notes">
                              <div class="row w-100 m-0">
                                <div class="col-sm-2">
                                  <div>
                                    <span class="w-25 m-auto circle bg-secondary avatar">
                                      <span class="fa text-white fa-user"></span>
                                    </span>
                                    <small class="d-block text-center">{{item.authorName}}</small>
                                  </div>
                                </div>
                                <div class="col-sm-10">
                                  <div class="list-body">
                                    <div>
                                      <span>{{item.content}}</span>
                                    </div>
                                    <small class="text-muted text-ellipsis">{{item.date | date:'medium'}}</small>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                          <textarea name="" placeholder="Add Note" [ngClass]="{'d-none': newNotes?.length > 0}" class="form-control"
                            id="" [(ngModel)]="newNote" cols="30" rows="3"></textarea>
                          <button class="md-btn md-raised mb-2 mt-2 ml-auto danger" [ngClass]="{'d-none': newNotes?.length > 0}"
                            (click)="addNote()" [disabled]="newNote?.length < 1">Add
                            Note</button>
                        </div>
                        <div *ngIf="newNotes?.length > 0">
                          <ul class="list inset">
                            <li class="list-item" *ngFor="let item of newNotes">
                              <div class="row w-100 m-0">
                                <div class="col-sm-2">
                                  <div>
                                    <span class="w-25 m-auto circle bg-secondary avatar">
                                      <span class="fa text-white fa-user"></span>
                                    </span>
                                    <small class="d-block text-center">{{item.authorName}}</small>
                                  </div>
                                </div>
                                <div class="col-sm-10">
                                  <div class="list-body">
                                    <div>
                                      <span>{{item.content}}</span>
                                    </div>
                                    <small class="text-muted text-ellipsis">{{item.date | date:'medium'}}</small>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div *ngIf="editDataRequest.notes?.length < 1">
                          <textarea name="" placeholder="Include any note relevant to the issue for your team to see it."
                            class="form-control" id="" [(ngModel)]="newNote" cols="30" rows="10" [ngClass]="{'d-none': newNotes?.length > 0}"></textarea>
                          <button class="md-btn md-raised mb-2 mt-2 ml-auto danger" [ngClass]="{'d-none': newNotes?.length > 0}"
                            (click)="addNote()" [disabled]="newNote?.length < 1">Add
                            Note</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="row mx-0">
                  <div class="col-7 my-3 px-0">
                    <strong class="mb-2 d-flex">Status: {{currentStatus}}</strong>
                    <label class="container" *ngIf="!isCompleted">Mark request status as completed
                      <input type="checkbox" [(ngModel)]="setCompleted" [ngModelOptions]="{standalone: true}"/>
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <!--div class="col-7 my-3 px-0">
                    <strong class="mb-2 d-flex">Status</strong>
                    <angular2-multiselect [data]="statusList" *ngIf="statusList" [(ngModel)]="statusSelectedItems"
                      [settings]="statusSettings">
                    </angular2-multiselect>
                  </div-->
                  <div class="col-7 my-3 px-0">
                    <strong class="mb-2 d-flex">Change Vendor</strong>
                    <angular2-multiselect class="" [data]="vendorList" [(ngModel)]="vendorSelectedItems" [settings]="vendorSettings">
                    </angular2-multiselect>
                  </div>
                  <div class="col-7 my-3 px-0">
                    <div class="input-group pr-5">
                      <span class="input-group-btn d-flex">
                        <span class="d-flex m-auto"><Strong>Total Cost:</Strong></span>
                      </span>
                      <input type="number" class="form-control ml-2" [ngClass]="status ? 'd-block' : 'd-none'"
                        [(ngModel)]="newCost">
                      <h5 class="mb-0" [ngClass]="status ? 'd-none' : 'd-flex'"> <span class="m-auto d-flex">${{newCost}}</span></h5>
                      <button class="btn btn-link" (click)="status=!status">Change</button>
                    </div>
                  </div>
                  <div class="col-sm-12 px-0 mt-3">
                    <button class="md-btn md-raised mb-2 blue" data-dismiss="modal" (click)="saveEdit()">SAVE CHANGES</button>
                    <button class="md-btn md-flat mb-2 text-primary" id="cancelE" data-dismiss="modal" (click)="cancelEdit()">CANCEL</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-status" tabindex="-1" role="dialog" aria-labelledby="modal-status" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" *ngIf="currentTicket">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Task fare over threshold </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          The following task fare, set by the vendor, is greater than the task threshold. Details:
          <p>Repair cost: {{currentTicket.issueData.repairCost}}</p>
          <p>Repair description: {{currentTicket.issueData.repairDescription}}</p>
          <p>Related pictures:</p>
          <p *ngIf="!currentTicket.issueData.repairDescription.length">No images were attached.</p>
          <div class="row">
            <div class="col-4" *ngFor="let src of currentTicket.issueData.issueImages">
              <img src="{{src}}" class="rounded img-fluid" alt="">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="evaluateTask('approve')">Approve
            task cost</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="evaluateTask('deny')">Deny and
            cancel task</button>
        </div>
      </div>
    </div>
  </div>
  <modal #modalmessage id="backdrop">
    <modal-header [show-close]="true">
      <h4 class="modal-title">{{modalTitle}}</h4>
    </modal-header>
    <modal-body>
      {{modalBody}}
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-primary" (click)="modalmessage.close()">Close</button>
    </modal-footer>
  </modal>
  <modal #modalDelete id="backdrop">
    <modal-header [show-close]="true">
      <h4 class="modal-title">{{modalTitle}}</h4>
    </modal-header>
    <modal-body>
      {{modalBody}}
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-primary" (click)="modalDelete.close()">No</button>
      <button type="button" class="btn btn-danger" (click)="removeRequest()">Yes</button>
    </modal-footer>
  </modal>
</div>
