<div class="app" id="app">
  <app-navbar></app-navbar>
  <div id="content" class="app-content box-shadow-0" role="main">
    <div class="content-header white  box-shadow-1" id="content-header">
      <div class="navbar navbar-expand-lg">
        <!-- btn to toggle sidenav on small screen -->
        <a class="d-lg-none mx-2" data-toggle="modal" data-target="#aside">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
            <path d="M80 304h352v16H80zM80 248h352v16H80zM80 192h352v16H80z" />
          </svg>
        </a>
        <!-- Page title -->
        <div class="navbar-text nav-title flex" id="pageTitle"></div>
      </div>
    </div>
    <div class="container">
      <div class="content-main d-flex flex mt-5">
        <div class="select-company w-75 mx-auto">
          <div class="form-group">
            <h5>Select Property</h5>
            <angular2-multiselect [data]="itemList" [(ngModel)]="selectedItems" [settings]="settings" (onSelect)="onItemSelect($event)"
              (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
            </angular2-multiselect>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
