<div class="app" id="app">
  <app-navbar></app-navbar>
  <div id="content" class="app-content box-shadow-0" role="main">
    <div class="content-header white  box-shadow-1" id="content-header">
      <div class="navbar navbar-expand-lg">
        <!-- btn to toggle sidenav on small screen -->
        <a class="d-lg-none mx-2" data-toggle="modal" data-target="#aside">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
            <path d="M80 304h352v16H80zM80 248h352v16H80zM80 192h352v16H80z" />
          </svg>
        </a>
        <!-- Page title -->
        <div class="navbar-text nav-title flex" id="pageTitle">Broadcast</div>
      </div>
    </div>
    <div class="content-main d-flex flex" id="content-main">
      <div class="padding">
        <div class="col-sm-12">
          <div class="box">
            <div class="box-header">
              <h6 class="">Current Company: {{currentCompany}} ( <a [routerLink]="['/company']">Change it?</a> )</h6>
              <h6 class="">Send messages to</h6>
              <div class="b-b nav-active-bg">
                <ul class="nav nav-tabs">
                  <li class="nav-item"><a class="nav-link" routerLink="/broadcast/tenants" routerLinkActive="active">Tenants</a></li>
                  <li class="nav-item"><a class="nav-link" routerLink="/broadcast/vendors" routerLinkActive="active">Vendors</a></li>
                </ul>
              </div>
            </div>
            <div class="box-divider m-0"></div>
            <div class="box-body w-100">
              <div class="form-group">
                <label for="comment">Receivers:</label>
                <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"></angular2-multiselect>
              </div>
              <div class="form-group">
                <label for="comment">Message:</label>
                <textarea class="form-control" rows="8" id="message" [(ngModel)]="messageText"></textarea>
              </div>
              <button class="btn mx-2  btn-fw warning" (click)="cleanSelected()">Cancel</button>
              <button class="btn mx-2  btn-fw success" (click)="sendBroadcast()">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
