<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Jack - Property managemet portal</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="assets/css/app.min.css">
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">
  window.intercomSettings = {
  app_id: "n6774gvu",
  name: <%= current_user.name %>, // Full name
  email: <%= current_user.email %>, // Email address
  created_at: <%= current_user.created_at.to_i %> // Signup Date
};

</head>

<body>
  <app-root></app-root>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="assets/scripts/app.min.js"></script>
  <script>
    $(document).ready(function(){
      window.Intercom("boot", {
        app_id: "n6774gvu"
      });
    })
  </script>
</body>

</html>
