body {
  overflow: hidden;
}
app-messages {
  width: 100%;
}
#modal-dialog-slider {
  margin-top: 15%;
}
.btn-clean {
  border: none;
  cursor: pointer;
  outline: inherit;
}
#selec-vendors .modal-dialog {
  width: 43%;
}
#buttons-2{
  margin-bottom: 10px;
  margin-top: auto
}
.mt-10{
  margin-top: 11rem;
}
app-home {
  width: 100%;
}
app-home #content-main {
  display: inline-block;
}
.nav-active-theme .nav > li.active > a.btn-active {
  background-color: transparent !important;
  border-left: solid 3px #4982ff !important;
}
.navbar-nav-1 {
  background-color: #232e3d;
}
.nav-icon, .nav-text{
  color: inherit !important
}
.bg-c {
  background-color: #1e2835;
}
.new-p {
  padding: 0rem 1.2rem;
}
.btn.theme-accent {
  background-color: #4982ff !important;
}
.nav-icon,
.nav-text {
  color: #4982ff;
}
.nav-fold-icon {
  background: #46348f;
}

.w-30 {
  height: 28px;
  width: 28px;
}
.col-ms {
  display: inline-block;
  margin-right: 2%;
  font-size: 1.1em;
  font-weight: 700;
  max-width: 20% !important;
}
.col-ms option {
  font-weight: 600;
}
.col-2 {
  margin-bottom: 1rem;
}
.icon-robot{
  width: 30px;
  height: 30px;
}
.icon-robot img{
  margin-top: 2px;
  color: white;
  background-color: white
}
.head-home {
  display: inline-block;
  width: 60%;
}
.height-contacs{
  height: 91vh;
}
.max-w-table{
  max-width: 100% !important;
  overflow: hidden;
}
.height-table{
  height: 87vh;
  overflow:auto;
  width: 100%;
  max-width: 100vw;
  display: block;
}
.scroll-y {
  position: static;
}
.btn-export {
  width: auto;
  float: right;
}
#content-main .padding {
  width: 100%;
}

#user {
  opacity: 1;
  background: rgba(7, 18, 29, 0.534);
}
#user .modal-dialog {
  width: 35%;
}
#messages-slider .modal-dialog {
  width: 35%;
  background: #f3f6f9;
}
.scrollable-slider,
.scrollable-slider .p-3 {
  height: 100%;
}
.scrollable-slider .p-3 {
  padding-top: 15% !important;
}
#user #border {
  height: 100%;
  font-size: 1.3em;
}
#user .w-40 {
  height: 80px;
  width: 80px;
}
#user .p-2 {
  padding-left: 10% !important;
}
#user .avatar-right {
  width: 20px;
  height: 20px;
}
#user #profile {
  opacity: 1;
}
.btn-border {
  border: none;
  cursor: pointer;
}
#content {
  height: 100vh;
}
li a .btn-rounded {
  border: none;
  border-radius: 0%;
  background: white;
}
li a .btn-rounded i {
  color: rgba(70, 90, 110, 0.85);
}
#profile {
  display: flex;
  flex: 0.7;
}
#profile .modal-dialog {
  display: flex;
  margin: 0%;
  width: 100%;
}
#border {
  border-bottom: solid 1px rgba(128, 128, 128, 0.171);
}

.p-4 .avatar {
  width: 60px;
  height: 60px;
}
.p-4 .avatar i {
  width: 15px;
  height: 15px;
}
.nav-item .nav-link span {
  margin-right: 5px;
  font-weight: 600;
}
.modal-right .col-md-4 {
  max-width: 100%;
  flex: 1;
}
.padding {
  padding: 1rem;
}
.sl-left {
  margin-left: -7px;
  font-size: 1.3em;
  background: #22b66e;
  width: 25px;
  height: 25px;
  border-radius: 20px;
}
.overflow-text{
  display: block;
  max-width:190px;
  height: 100%;;
  overflow: hidden ;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sl-left span {
  display: block;
  ruby-align: center;
}
.sl-left span i {
  margin-left: 5px;
  color: white;
}
.a-::after {
  content: "";
  top: 25px;
  bottom: -4px;
  left: 3.2px;
  position: absolute;
  z-index: 1;
  background: #22b66e;
  width: 2px;
}
.c-:after {
  content: "";
  top: 18px;
  bottom: -4px;
  left: 3.2px;
  position: absolute;
  z-index: 1;
  background: #2196f3;
  width: 2px;
}

.c-::before {
  border-color: #2196f3;
}

.d-::before {
  border-color: orange;
}
.app-aside {
  height: 100%;
}
app-contacts {
  width: 100%;
}
app-contacts .d-flex {
  height: auto;
}
.text-contacs {
  width: 70%;
}
#user-nav .white {
  font-size: 1.2em;
}
#new-contact .new-contact-slider,
#upload-contacts .new-upload-contacts {
  width: 35%;
}
.col-sm-10 label {
  float: none;
}
.scroll-h {
  min-height: 74vh;
  max-height: 75vh;
}
.new-contact-title {
  width: 100%;
  font-size: 2em;
  height: 10%;
  display: block;
  text-align: center;
  margin-top: 7.5%;
}
.input-sm {
  max-width: 100% !important;
  padding-right: 30px !important;
  padding-left: 30px;
  flex: 0.75;
}
.single-select {
  height: 2em;
  margin-bottom: 8%;
}
.single-select select {
  height: 2.8rem;
}
.input-sm div {
  margin-bottom: 8%;
}
#new-contact-select {
  padding-right: 30px;
  padding-left: 30px;
}
.profile-button {
  margin-top: 10%;
}
.profile-button button {
  width: 100px;
}
#select-container {
  width: 100%;
}
.btn-cancel {
  border-width: 1px;
  border-color: #22b66e;
}
#buttons {
  text-align: center;
  margin: auto;
}
.btn-save {
  width: 78.61px;
}
.new-contact-title span {
  display: block;
}
.new-contact-scroll{
  min-height: 420px;
  max-height: 425px;
  overflow-y: auto;
  overflow-x: hidden;
}
app-automations {
  width: 100%;
}
#automations {
  height: 100%;
  padding-top: 5%;
  padding-left: 25%;
  padding-right: 25%;
}
.auto-t {
  min-width: 368px;
  height: 45px;
}
.auto-d {
  display: inline-block;
  height: 100%;
  width: auto;
  font-size: 2em;
}
.list-group-item {
  border-width: 1px;
  border: solid 1px rgba(128, 128, 128, 0.171);
}
.list-group-item a {
  font-size: 1.5em;
}
.icon-plus {
  position: relative;
  top: -4px;
  display: inline-block;
  background: #22b66e;
  height: 25px;
  width: 40px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  color: white;
}
.auto-t button:active {
  position: relative;
  top: -1px;
}
.selected-list .c-btn {
  box-shadow: 0px 0px 0px white !important;
}
label {
  position: relative;
  /*background-color: #22b66e; */
}
#new-auto-dispatch .modal-dialog-dispatch,
#edit-auto-dispatch .modal-dialog-dispatch {
  width: 35%;
}
.input-if2 {
  position: relative;
  top: 17% !important;
}
.lt-margin {
  margin: 0% 30px !important;
}
.btn-2 {
  position: relative !important;
  top: 22% !important;
}
.input-if-2 {
  position: relative !important;
  top: 17% !important;
}
.btn-auto-2 {
  position: relative !important;
  top: 22% !important;
}
#title-auto-dispatch {
  flex: 0.15;
  font-size: 1.6em;
  text-align: center;
  font-weight: 500;
}
#title-auto-dispatch span {
  display: block;
  position: relative;
  top: 40%;
}
.input-auto-d {
  flex: 0.15;
}
.box-auto-d {
  flex: 0.3;
  display: flex;
}
.box-body {
  width: 200px;
}
.box-auto-d .box-body {
  display: block;
  flex: 2;
  margin: 1rem 30px;
  padding: 0px;
  background: #f3f6f9;
}
.box-auto-d .box-body .input-if {
  text-align: center;
  position: relative;
  top: 13%;
  padding: 0rem 1rem;
}
.box-auto-d .box-body #buttons {
  position: relative;
  top: 30%;
}
.form-control-small {
  width: 70%;
}
.box-auto-d .box-body label {
  float: none;
  font-size: 1.3em;
  text-align: center;
  font-weight: 450;
}
.input-auto-d div input {
  font-size: 1.6em;
  padding: 0.375rem 0.75rem;
}
.no-padding {
  padding: 0% !important;
}
.remove {
  position: relative;
  display: inline-block;
  right: 0px;
  cursor: pointer;
  border: none;
  background-color: inherit;
}
.input-padding {
  padding-right: 0% !important;
}
.input-padding input {
  display: inline-block;
  width: 90%;
}
.input-padding select {
  display: inline-block;
  width: 90%;
}

#profile-messages {
  flex: 0.6;
  overflow: hidden;
}
#tl-container {
  overflow-y: auto;
  height: 20vh;
}

.chat-scroll {
  overflow-y: scroll;
  height: 68vh;
}
#logout-button {
  position: relative;
  color: #22b66e;
  font-size: 1.1em;
}
#logout-button:hover {
  color: red;
  transition-duration: 1s;
}
img.preview-image-chat {
  max-width: 250px;
  max-height: 250px;
}
.messages-slider-button {
  display: none;
  position: absolute;
  top: 125%;
  right: -80%;
}
.user-slider-button {
  display: none;
  position: absolute;
  top: 125%;
  right: -80%;
}
#arrow-messages,
#arrow-user,
#button-auto-d,
#arrow-new-contact,
#arrow-new-user,
#button-see-h,
#button-add-a,
#notifications-b,
#arrow-auto-ds,
#issue-popup {
  position: relative;
}
#user-edit label{
  font-size: 1rem !important;
}
.text-bold{
  font-weight: bold;
}
#arrow-user:hover .user-slider-button,
#button-auto-d:hover .arrow-dispatch,
#arrow-messages:hover .messages-slider-button,
#arrow-new-contact:hover .arrow-contact,
#arrow-new-user:hover .arrow-user,
#button-see-h:hover .see-history,
#button-add-a:hover .add-agent,
#archive-conversation:hover .arrow-archive-conversation,
#issue-popup:hover .arrow-issue,
#logout-button:hover .arrow-sing-out,
#notifications-b:hover .arrow-notifications {
  display: block;
}
.arrow-issue{
  display: none;
  position: absolute;
  top: -170%;
  left: 300%;
}
.arrow-dispatch {
  display: none;
  position: absolute;
  top: -170%;
  left: 300%;
}
.arrow-contact,
.arrow-user {
  display: none;
  position: absolute;
  font-size: 0.7em;
  top: 110%;
  left: 0%;
}
#button-see-h span,
#button-add-a span,
#archive-conversation span {
  overflow: unset;
}
.img-icon{
  width: 50px;
}
.select2 {
  min-width: 100%;
}
.add-agent {
  display: none;
  position: absolute;
  top: 110%;
  right: -20%;
}
.see-history {
  display: none;
  position: absolute;
  top: 110%;
  right: -20%;
}
.arrow-archive-conversation {
  display: none;
  position: absolute;
  top: 110%;
  right: -20%;
}
.arrow-sing-out {
  display: none;
  position: absolute;
  bottom: 20%;
  right: 0%;
  color: white;
}

.arrow-notifications {
  display: none;
  position: absolute;
  bottom: 25%;
  left: -10%;
}
.overflow-n {
  overflow: inherit !important;
}
.w-ssd {
  width: 35% !important;
}
@media screen and (max-width: 992px) {
  .w-ssd {
    width: 320px !important;
  }
  #new-auto-dispatch .modal-dialog-dispatch,
  #edit-auto-dispatch .modal-dialog-dispatch {
    width: 50% !important;
  }
  #user .modal-dialog {
    width: 100%;
  }
  #selec-vendors .modal-dialog{
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  #new-auto-dispatch .modal-dialog-dispatch,
  #edit-auto-dispatch .modal-dialog-dispatch {
    width: 80% !important;
  }
  #new-auto-dispatch #profile .modal-dialog,
  #edit-auto-dispatch #profile .modal-dialog {
    width: 100% !important;
  }
  #label-auto,
  #auto-label {
    font-size: 1em;
  }
  .btn-min {
    position: relative;
    top: 18% !important;
  }
  #user .modal-dialog {
    width: 50%;
  }
}
@media screen and (max-width: 744px) {

}
@media screen and (max-width: 676px) {
  #edit-auto-dispatch .modal-dialog-dispatch {
    width: 80% !important;
  }
  #edit-auto-dispatch #profile .modal-dialog {
    width: 100% !important;
  }
}
@media screen and (max-width: 420px) {
  #edit-auto-dispatch .modal-dialog-dispatch {
    width: 85% !important;
  }
  #edit-auto-dispatch #profile .modal-dialog {
    width: 100% !important;
  }
  .input-padding input,
  .input-padding .custom-select {
    width: 50%;
  }
  #auto-label {
    font-size: 1em !important;
    display: block;
  }
  #auto-label-1 {
    font-size: 1em !important;
  }
  #user .modal-dialog {
    width: 80%;
  }
  #selec-vendors .modal-dialog{
    width: 80%;
  }
}
@media screen and (max-width: 280px) {
  .btn-3 {
    top: 18% !important;
  }
  #selec-vendors .modal-dialog{
    width: 90%;
  }
}
@media screen and (max-width: 255px) {
  .auto-t {
    position: relative;
    left: -50%;
  }
  #new-auto-dispatch .modal-dialog-dispatch {
    width: 95%;
  }
  .btn-min {
    position: relative;
    top: 20%;
  }
}
@media screen and (max-width: 767.99px) {
  .w-auto-sm {
    width: 100% !important;
  }
}
@-moz-document url-prefix() {
  .arrow-dispatch {
    display: none;
    position: absolute;
    top: -170%;
    left: 220% !important;
  }
  .text-contacs {
    width: 68%;
  }
  .chat-scroll {
    min-height: 72vh !important;
    max-height: 72.5vh !important;
  }
  #profile-messages {
    height: 598px;
  }
  .a-::before {
    display: none;
  }
  .app-aside {
    z-index: 2000;
  }

  @media screen and (max-width: 767.99px) {
    #profile-messages {
      z-index: -20 !important;
    }
  }
}

